@section SampleHeading{<span class="sampleName">FileExplorer / Custom Context Menu </span>}
@section ControlsSection{
    <ej-file-explorer id="fileExplorer" path="wwwroot/css/images/FileExplorerContent" layout="LargeIcons" ajax-action="@Url.Content("FileActionDefault")" width="100%" is-responsive="true" menu-open="onMenuOpen" layout-change="onLayoutChange">
        <e-file-ajax-settings>
            <e-download url="/FileExplorer/Download{0}"></e-download>
            <e-get-image url="/FileExplorer/GetImage{0}"></e-get-image>
            <e-upload url="/FileExplorer/Upload{0}"></e-upload>
        </e-file-ajax-settings>
        <e-file-context-menu-settings>
            <e-file-items navbar='@new List<string>() { "Upload", "|", "Delete", "Rename", "|", "Cut", "Copy", "Paste", "|", "Getinfo" }' 
                          cwd ='@new List<string>() { "Refresh", "Paste", "|", "SortBy", "View", "|", "NewFolder", "Upload", "|", "Getinfo" }'
                          files ='@new List<string>() { "Open", "Download", "|", "Delete", "Rename", "|", "Cut", "Copy", "Paste", "|", 
          "OpenFolderLocation", "Getinfo" }'></e-file-items>
            <e-file-custom-menu-fields>
                <e-menu-fields id="View" text="View by" sprite-css-class="custom-grid">
                    <e-child-items>
                        <e-child-item id="tile" text="Tile view" action="onLayout"></e-child-item>
                        <e-child-item id="grid" text="Grid view" action="onLayout"></e-child-item>
                        <e-child-item id="largeicons" text="Large icons view" action="onLayout"></e-child-item>
                    </e-child-items>
                </e-menu-fields>
            </e-file-custom-menu-fields>
        </e-file-context-menu-settings>
    </ej-file-explorer>

<h6>
    <span style="font-style:italic; margin-top: 5px;margin-left: 20%;">
        Note: A new custom ContextMenu item ("View") is added to Current Working Directory's ContextMenu
    </span>
</h6>
}


@section ScriptSection{

<script>
    function onLayout(args) {
        var feObj = $('#fileExplorer').data("ejFileExplorer");
        feObj && feObj.option("layout", args.ID);
    }
    function onMenuOpen(args) {
        if (args.contextMenu == "cwd") {
            $(".fe-context-menu").find(".e-fe-activeicon").removeClass("e-fe-activeicon");
            $(".fe-context-menu").find("." + this.model.layout).addClass("e-fe-activeicon");
        }
    }
    function onLayoutChange(args) {
        $(".fe-context-menu .View").removeClass("custom-grid custom-tile custom-largeicons");
        $(".fe-context-menu .View").addClass("custom-" + this.model.layout);
    }
</script>


}
@section StyleSection{
   <style>
    .fe-context-menu .custom-grid:before {
        content: "\e7b9";
    }

    .fe-context-menu .custom-largeicons:before {
        content: "\e7bb";
    }

    .fe-context-menu .custom-tile:before {
        content: "\e7be";
    }
</style>
}

