@section SampleHeading{ <span class="sampleName">Tab / Methods</span>}

@section ControlsSection{

    <div style="width: 500px">
        <ej-tab id="apiTab">
            <e-tab-items>
                <e-tab-item id="javaScript" text="Java Script">
                    <e-content-template>
                        <div>
                            JavaScript (JS) is an interpreted computer programming language.
                            It was originally implemented as part of web browsers so that client-side scripts could interact with the user, control the browser,
                            communicate asynchronously, and alter the document content that was displayed.More recently, however,
                            it has become common in both game development and the creation of desktop applications.
                        </div>
                    </e-content-template>
                </e-tab-item>
                <e-tab-item id="cSharp" text="C Sharp">
                    <e-content-template>
                        <div>
                            C# is intended to be a simple, modern, general-purpose, object-oriented programming language.
                            Its development team is led by Anders Hejlsberg. The most recent version is C# 5.0, which was released on August 15, 2012.
                        </div>
                    </e-content-template>
                </e-tab-item>
                <e-tab-item id="vb" text="VB.Net">
                    <e-content-template>
                        <div>
                            The command-line compiler, VBC.EXE, is installed as part of the freeware .NET Framework SDK.
                            Mono also includes a command-line VB.NET compiler. The most recent version is VB 2012, which was released on August 15, 2012.
                        </div>
                    </e-content-template>
                </e-tab-item>
            </e-tab-items>
        </ej-tab>
    </div>
}
<div id="disable">
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
</div>
<div id="enable">
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
</div>
<div id="remove">
    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
</div>
@section PropertiesSection{

    <div class="row">
        <div class="col-md-3">
            Disable Item
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="optDisable" width="95px" target-id="disable" change="onDisableChange" watermark-text="Select"></ej-drop-down-list>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Enable Item
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="optEnable" width="95px" target-id="enable" change="onEnableChange" watermark-text="Select"></ej-drop-down-list>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            Remove Tab
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="optRemove" width="95px" target-id="remove" select="onRemoveChange" watermark-text="Select"></ej-drop-down-list>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Destroy
        </div>
        <div class="col-md-3">
            <ej-toggle-button id="chkDestroy" active-text="Restore" default-text="Destroy" width="95px" change="onDestoryRestore" />
        </div>
    </div>
}
@section ScriptSection{
    <script>
        $(function () {
            tabObj = $("#apiTab").data("ejTab");
            $("#sampleProperties").ejPropertiesPanel();
            first = [{ text: "item1" }];
            second = [{ text: "item1" }, { text: "item2" }];
            third = [{ text: "item1" }, { text: "item2" }, { text: "item3" }];
            enableObj = $("#optEnable").data('ejDropDownList');
            disableObj = $("#optDisable").data('ejDropDownList');
            removeObj = $("#optRemove").data('ejDropDownList');
        });
        function onDisableChange(args) {
            if (tabObj.model != null) {
                tabObj.option({ disabledItemIndex: [parseInt(args.itemId)] });
                $("#optEnable").ejDropDownList("clearText");
                $("#optRemove").ejDropDownList("clearText");
            }
        }
        function onEnableChange(args) {
            if (tabObj.model != null) {
                tabObj.option({ enabledItemIndex: [parseInt(args.itemId)] });
                $("#optDisable").ejDropDownList("clearText");
                $("#optRemove").ejDropDownList("clearText");
            }
        }
        function changeOrder() {
            if ($(tabObj.items).length == 2) {
                enableObj.setModel({ dataSource: first });
                disableObj.setModel({ dataSource: first });
                removeObj.setModel({ dataSource: first });
            }
            else if ($(tabObj.items).length == 3) {
                enableObj.setModel({ dataSource: second });
                disableObj.setModel({ dataSource: second });
                removeObj.setModel({ dataSource: second });
            }
        }
        function onRemoveChange(args) {
            if (tabObj.model != null) {
                changeOrder();
                tabObj.removeItem(parseInt(args.itemId));
                $("#optDisable").ejDropDownList("clearText");
                $("#optEnable").ejDropDownList("clearText");
            }
        }
        function onDestoryRestore(args) {
            i = 0;
            $("#optEnable").ejDropDownList("clearText");
            $("#optRemove").ejDropDownList("clearText");
            $("#optDisable").ejDropDownList("clearText");
            if (args.isChecked) {
                tabObj.destroy();
                enableObj.disable();
                disableObj.disable();
                removeObj.disable();
            }
            else {
                $("#apiTab").ejTab();
                tabObj = $("#apiTab").data("ejTab");
                enableObj.enable();
                disableObj.enable();
                removeObj.enable();
            }
        }
    </script>
}

