@section SampleHeading{ <span class="sampleName">Tab / OtherWidgets</span>}

@section ControlsSection{

    <div style="width: 500px">

        <ej-tab id="tabSample">
            <e-tab-items>
                <e-tab-item id="Pizza" text="Pizza Menu">
                    <e-content-template>
                        <ej-accordion id="pizzaMenu" width="460px" collapsible="true">
                            <e-accordion-items>
                                <e-accordion-item text="GARDEN FRESH (Veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                <div>
                                                    Rating :
                                                    <div>
                                                        <ej-rating id="gradenPizza" allow-reset="false" read-only="true" value="4" />
                                                    </div>
                                                </div>
                                                Simple and delicious mozzarella cheese and pizza sauce on a classic crust.The goodness of crunchy onions, green capsicums & tomatoes.
                                            </div>
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                                <e-accordion-item text="CORN & SPINACH (Veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="cornPizza" allow-reset="false" read-only="true" value="4" />                                                   
                                                </div>
                                            </div>
                                            Enticing blend of panneer, spinach, sweet corn and mozarella cheese. The garden fresh combination of sweet corn & green capsicums topped with slices of cottage cheese.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                                <e-accordion-item text="CHICKEN DELITE (Non-veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>                                                    
                                                    <ej-rating id="chickenPizza" allow-reset="false" read-only="true" value="4" />
                                                </div>
                                            </div>
                                            A sumptuous portion of chicken chunks & onions topped with delicious mozzarella cheese.Great tropical treat of ripe pineapple chunks & slices of chicken loaf.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                                <e-accordion-item text="KEEMA LA JAWAB (Non-veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="keemaPizza" allow-reset="false" read-only="true" value="3" />
                                                </div>
                                            </div>
                                            Hot & delectable desi pizza with lamb keema, onions, garlic & tandoori seasoning. The flavor of chicken tikka along with green capsicum and tomatoes in rich makhani sauce.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                            </e-accordion-items>
                        </ej-accordion>                       
                    </e-content-template>
                </e-tab-item>
                <e-tab-item id="Pasta" text="Pasta Menu">
                    <e-content-template>
                        <ej-accordion id="pastaMenu" width="460px" collapsible="true">
                            <e-accordion-items>
                                <e-accordion-item text="ZESTY MUSHROOMS AND TOMATO  (Veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="zestyPasta" allow-reset="false" read-only="true" value="4" />
                                                </div>
                                            </div>
                                            Pasta cooked to perfection tossed with mushrooms & rich flavored tomato concasse oven baked with a cheesy touch.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                                <e-accordion-item text="CORN & SPINACH (Veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="cornPasta" allow-reset="false" read-only="true" value="4" />
                                                </div>
                                            </div>
                                            A healthy portion of pasta with sautered spinach mix, sweet corn, parsley & mozarella cheese.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                                <e-accordion-item text="BAKED CHICKEN AND CHEESE (Non-veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="bakedPasta" allow-reset="false" read-only="true" value="4" />
                                                </div>
                                            </div>
                                            An all time favorite cheese 'n' pasta loaded with grilled chicken, corn and olives.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                            </e-accordion-items>
                        </ej-accordion>                       
                    </e-content-template>
                </e-tab-item>
                <e-tab-item id="sandwizza" text="Sandwizza Menu">
                    <e-content-template>
                        <ej-accordion id="sandMenu" width="460px" collapsible="true">
                            <e-accordion-items>
                                <e-accordion-item text="GARDEN VEGGIE (Veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="gardenSand" allow-reset="false" read-only="true" value="3" />
                                                </div>
                                            </div>
                                            A treat that brings to life the flavors of straight-from-the-garden-veggies replete with green chilies. An appetizing combination of panneer tikka, onions & tomatoes.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                                <e-accordion-item text="PANEER TIKKA (Veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="paneerSand" allow-reset="false" read-only="true" value="4" />
                                                </div>
                                            </div>
                                            An appetizing combination of panneer tikka, onions & tomatoes.A treat that brings to life the flavors of straight-from-the-garden-veggies replete with green chilies.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>
                                <e-accordion-item text="CHICKEN TIKKA (Non-veg)">
                                    <e-content-template>
                                        <div>
                                            <div>
                                                Rating :
                                                <div>
                                                    <ej-rating id="chickenSand" allow-reset="false" read-only="true" value="4" />
                                                </div>
                                            </div>
                                            An appetizing and hot combination of chicken tikka, onions & tomatoes.The ultimate non-veg fiesta of grilled chicken, chicken salami, lamb pepperoni with cheese & onions.
                                        </div>
                                    </e-content-template>
                                </e-accordion-item>                               
                            </e-accordion-items>
                        </ej-accordion>
                    </e-content-template>
                </e-tab-item>
            </e-tab-items>
        </ej-tab>        

    </div>
    

       
}



