@section SampleHeading{ <span class="sampleName">Tab / Rtl</span>}

@section ControlsSection{

    <div style="width: 500px">
        <ej-tab id="rtlTab" enable-rtl="true">
            <e-tab-items>
                <e-tab-item id="JS" text="سكريبت">
                    <e-content-template>
                        <div>
                            جافا سكريبت (JS) هو تفسير الكمبيوتر لغة البرمجة.
                            تم تنفيذ أصلا كجزء من متصفحات الويب بحيث البرامج النصية من جانب العميل يمكن أن تتفاعل مع المستخدم، والسيطرة على المتصفح،
                            التواصل بشكل غير متزامن، وتغيير محتوى الوثيقة التي تم عرضها. [5] وفي الآونة الأخيرة، ومع ذلك،
                            أصبح من الشائع في كل من تطوير اللعبة وإنشاء تطبيقات سطح المكتب.
                        </div>
                    </e-content-template>
                </e-tab-item>
                <e-tab-item id="cSharp" text="C شارب (C #)">
                    <e-content-template>
                        <div>
                            يقصد به أن تكون بسيطة وعصرية، لأغراض عامة، لغة البرمجة وجوه المنحى C #.
                            ويقود فريق تطويره بواسطة Anders Hejlsberg. أحدث إصدار هو C # 5.0، والذي صدر في 15 أغسطس 2012.
                        </div>
                    </e-content-template>
                </e-tab-item>
                <e-tab-item id="vb" text="البصرية الأساسية">
                    <e-content-template>
                        <div>
                            يتم تثبيت مترجم سطر الأوامر، VBC.EXE، كجزء من مجانية. NET الإطار SDK.
                            ويشمل أيضا أحادية مترجم VB.NET سطر الأوامر. أحدث إصدار هو VB 2012، والذي صدر في 15 أغسطس 2012.
                        </div>
                    </e-content-template>
                </e-tab-item>
            </e-tab-items>
        </ej-tab>
    </div>
}
