@section SampleHeading{
    <span class="sampleName">Button / Group Buttons</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
           @* <label>Appointment View</label>*@
            <div class="element">
                <ej-group-button  id="GroupButton" width="100%" group-button-mode="@GroupButtonMode.RadioButton" height="40px" show-rounded-corner="true">
                    <e-group-button-items>
                        <e-group-button-item text="Day"></e-group-button-item>
                        <e-group-button-item text="Week"></e-group-button-item>
                        <e-group-button-item text="Month"></e-group-button-item>
                    </e-group-button-items>
                </ej-group-button>
            </div>
        </div>
    </div>
}

@section StyleSection{
    <style>
        .frame, .control {
            width: 50%;
        }

            .frame .control, label {
                display: table;
                margin: 0 auto;
            }

        .element {
            width: 100%;
        }
    </style>
}
