@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section ScriptReferenceSection{
    <script src="@Url.Content("~/scripts/excanvas.min.js")"></script>
}
@section SampleHeading{
    <span class="sampleName">Default Functionalities</span>
}

@section ControlsSection{
    <div>
        <ej-circular-gauge id="circulargauge1" is-responsive="true" load="loadGaugeTheme" background-color="transparent" radius="140" width="500" height="360">
            <e-circular-scale-collections>
                <e-circular-scales radius="130" minimum="0" maximum="120" major-interval-value="20" minor-interval-value="10" show-scale-bar="true" size="1" show-ranges="true">
                    <e-pointer-cap radius="10"></e-pointer-cap>
                    <e-circular-range-collections>
                        <e-circular-ranges size="5" distance-from-scale="-30" start-value="0" end-value="70"></e-circular-ranges>
                        <e-circular-ranges size="5" distance-from-scale="-30" start-value="70" end-value="110" background-color="red">
                        </e-circular-ranges>
                        <e-circular-ranges size="5" distance-from-scale="-30" start-value="110" end-value="120" background-color="yellow">
                        </e-circular-ranges>
                    </e-circular-range-collections>
                    <e-pointer-collections>
                        <e-pointers value="60" length="90" width="8" show-back-needle="true" back-needle-length="15"></e-pointers>
                    </e-pointer-collections>
                    
                </e-circular-scales>
            </e-circular-scale-collections>
        </ej-circular-gauge>
</div>
    }