@section SampleHeading{<span class="sampleName">ColorPicker / Default</span> }
@section ControlsSection{
    <div class="frame ">
        <div class="control">
            <div class="ctrllabel">
                Choose a Color
                <ej-color-picker  id="colorPicker" value="#278787"></ej-color-picker>
            </div>
        </div>
    </div>
}
@section StyleSection{

    <style>
        .frame .control {
            margin-left: 70px;
        }
    </style>
}
