@section SampleHeading{<span class="sampleName">ColorPicker / Palette Model </span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="element">
                Choose a Color

                <ej-color-picker id="Palette" value="#ba4" model-type="@ModelType.Palette"></ej-color-picker>
            </div>
        </div>
    </div>
}

@section StyleSection{
    <style>
        .frame .control {
            margin-left: 70px;
        }
    </style>

}
