@using Syncfusion.JavaScript;
@section SampleHeading{<span class="sampleName">PivotChart / Chart Types</span> }
@section ControlsSection{
<ej-pivot-chart id="PivotChart1" is-responsive="true" load="onload">
    <e-data-source>
        <e-pivot-rows>
            <e-row-field field-name="Product" field-caption="Product"></e-row-field>
            <e-row-field field-name="Date" field-caption="Date"></e-row-field>
        </e-pivot-rows>
        <e-pivot-columns>
            <e-column-field field-name="Country" field-caption="Country"></e-column-field>
        </e-pivot-columns>
        <e-pivot-values>
            <e-value-field field-name="Amount" field-caption="Amount"></e-value-field>
        </e-pivot-values>
    </e-data-source>
    <e-common-series-options type="Column" enable-animation="true">
        <e-chart-tooltip visible="true"></e-chart-tooltip>
    </e-common-series-options>
    <e-size width="100%" height="460px"></e-size>
    <e-primary-x-axis>
        <e-title text="Date - Fiscal"></e-title>
    </e-primary-x-axis>
    <e-primary-y-axis>
        <e-title text="Amount"></e-title>
    </e-primary-y-axis>
    <e-legend row-count="1"></e-legend>
</ej-pivot-chart>
}
@section ScriptSection{
    <script type="text/javascript">
        function onload(args) {
            args.model.dataSource.data = [
                                        { Amount: 100, Country: "Canada", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Alberta" },
                                        { Amount: 200, Country: "Canada", Date: "FY 2006", Product: "Van", Quantity: 3, State: "British Columbia" },
                                        { Amount: 300, Country: "Canada", Date: "FY 2007", Product: "Car", Quantity: 4, State: "Brunswick" },
                                        { Amount: 150, Country: "Canada", Date: "FY 2008", Product: "Bike", Quantity: 3, State: "Manitoba" },
                                        { Amount: 200, Country: "Canada", Date: "FY 2006", Product: "Car", Quantity: 4, State: "Ontario" },
                                        { Amount: 100, Country: "Canada", Date: "FY 2007", Product: "Van", Quantity: 1, State: "Quebec" },
                                        { Amount: 200, Country: "France", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Charente-Maritime" },
                                        { Amount: 250, Country: "France", Date: "FY 2006", Product: "Van", Quantity: 4, State: "Essonne" },
                                        { Amount: 300, Country: "France", Date: "FY 2007", Product: "Car", Quantity: 3, State: "Garonne (Haute)" },
                                        { Amount: 150, Country: "France", Date: "FY 2008", Product: "Van", Quantity: 2, State: "Gers" },
                                        { Amount: 200, Country: "Germany", Date: "FY 2006", Product: "Van", Quantity: 3, State: "Bayern" },
                                        { Amount: 250, Country: "Germany", Date: "FY 2007", Product: "Car", Quantity: 3, State: "Brandenburg" },
                                        { Amount: 150, Country: "Germany", Date: "FY 2008", Product: "Car", Quantity: 4, State: "Hamburg" },
                                        { Amount: 200, Country: "Germany", Date: "FY 2008", Product: "Bike", Quantity: 4, State: "Hessen" },
                                        { Amount: 150, Country: "Germany", Date: "FY 2007", Product: "Van", Quantity: 3, State: "Nordrhein-Westfalen" },
                                        { Amount: 100, Country: "Germany", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Saarland" },
                                        { Amount: 150, Country: "United Kingdom", Date: "FY 2008", Product: "Bike", Quantity: 5, State: "England" },
                                        { Amount: 250, Country: "United States", Date: "FY 2007", Product: "Car", Quantity: 4, State: "Alabama" },
                                        { Amount: 200, Country: "United States", Date: "FY 2005", Product: "Van", Quantity: 4, State: "California" },
                                        { Amount: 100, Country: "United States", Date: "FY 2006", Product: "Bike", Quantity: 2, State: "Colorado" },
                                        { Amount: 150, Country: "United States", Date: "FY 2008", Product: "Car", Quantity: 3, State: "New Mexico" },
                                        { Amount: 200, Country: "United States", Date: "FY 2005", Product: "Bike", Quantity: 4, State: "New York" },
                                        { Amount: 250, Country: "United States", Date: "FY 2008", Product: "Car", Quantity: 3, State: "North Carolina" },
                                        { Amount: 300, Country: "United States", Date: "FY 2007", Product: "Van", Quantity: 4, State: "South Carolina" }
            ];
            loadTheme(args);
        }
        function ChartTypeChanged(args) {
            var chartTarget = $('#PivotChart1').data("ejPivotChart");
            chartTarget.model.type = args.selectedValue.toLowerCase();
            chartTarget.model.commonSeriesOptions.type = args.selectedValue.toLowerCase();
            if (jQuery.inArray(chartTarget.model.type, ["line", "spline", "area", "splinearea", "stepline", "steparea", "stackingarea", "scatter"]) > -1)
                chartTarget.model.commonSeriesOptions.marker = {
                    shape: ej.PivotChart.SymbolShapes.Circle,
                    size: { height: 12, width: 12 },
                    visible: true, connectorLine: { height: 30, type: "line" },
                    border: { width: 3, color: 'white' }
                };
            else if (jQuery.inArray(chartTarget.model.type, ["funnel", "pyramid"]) > -1) {
                chartTarget.model.commonSeriesOptions.marker = {
                    dataLabel: {
                        visible: true,
                        shape: 'none',
                        font: { color: 'white', size: '12px', fontWeight: 'lighter' }
                    }
                }
            }
            else
                chartTarget.model.commonSeriesOptions.marker = { visible: false };
            if (chartTarget.model.type == "pyramid" || chartTarget.model.type == "funnel")
                chartTarget.model.legend.rowCount = 1;
            else
                chartTarget.model.legend.rowCount = 2;
            if (jQuery.inArray(chartTarget.model.type, ["pie", "doughnut"]) > -1)
                chartTarget.model.commonSeriesOptions.explode = true;
            else
                chartTarget.model.commonSeriesOptions.explode = false;
            chartTarget.renderControlSuccess({ "JsonRecords": JSON.stringify(chartTarget.getJSONRecords()), "OlapReport": chartTarget.getOlapReport() });
        }
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
    </script>
}
@section StyleSection{
    <style>
        #PivotChart1 {
            min-height: 275px;
            min-width: 525px;
            height: 460px;
            width: 100%;
            float: left;
        }
        .row .cols-prop-area {min-height:105px!important}
        .eventarea {margin-top:15px}

        .cols-prop-area {
            width: 250px !important;
            min-height: 93px !important;
        }

        .col-md-3 {
            height: 45px !important;
        }
        .cols-sample-area {
            width:100% !important;
        }
    </style>
}
@section PropertiesSection{
    <ul id="chartTypes">
        <li>Column</li>
        <li>Spline</li>
        <li>Line</li>
        <li>Area</li>
        <li>SplineArea</li>
        <li>StepLine</li>
        <li>StepArea</li>
        <li>Pie</li>
        <li>Bar</li>
        <li>StackingArea</li>
        <li>StackingColumn</li>
        <li>StackingBar</li>
        <li>Pyramid</li>
        <li>Funnel</li>
        <li>Doughnut</li>
        <li>Scatter</li>
        <li>Bubble</li>
    </ul>
<div id="sampleProperties">
    <div class="prop-grid">
            <div class="row" style="margin-top: 8px; float:left;padding-right:15px;padding-left:15px">
                Chart Type
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ej-drop-down-list id="chartType" target-id="chartTypes" width="110px" selected-item-index="0" change="ChartTypeChanged"></ej-drop-down-list>
                </div>
            </div>
        </div>
    </div>
}
