@using Syncfusion.JavaScript;
@section SampleHeading{<span class="sampleName">PivotChart / Olap</span> }
@section ControlsSection{
<ej-pivot-chart id="PivotChart1" is-responsive="true" load="loadTheme">
    <e-data-source catalog="Adventure Works DW 2008 SE" cube="Adventure Works" data="//bi.syncfusion.com/olap/msmdpump.dll">
        <e-pivot-rows>
            <e-row-field field-name="[Date].[Fiscal]"></e-row-field>
        </e-pivot-rows>
        <e-pivot-columns>
            <e-column-field field-name="[Customer].[Customer Geography]"></e-column-field>
        </e-pivot-columns>
        <e-pivot-values>
            <e-value-field axis="Column">
                <e-measures>
                    <e-measure-items field-name="[Measures].[Internet Sales Amount]"></e-measure-items>
                </e-measures>
            </e-value-field>
        </e-pivot-values>
    </e-data-source>
    <e-common-series-options type="Column" enable-animation="true">
        <e-chart-tooltip visible="true"></e-chart-tooltip>
    </e-common-series-options>
    <e-size width="100%" height="460px"></e-size>
    <e-primary-x-axis>
        <e-title text="Date - Fiscal"></e-title>
    </e-primary-x-axis>
    <e-primary-y-axis>
        <e-title text="Amount"></e-title>
    </e-primary-y-axis>
    <e-legend row-count="2"></e-legend>
</ej-pivot-chart>
}
@section StyleSection{
    <style>
        #PivotChart1 {
            min-height: 275px;
            min-width: 525px;
            height: 460px;
            width: 100%;
            float: left;
        }
        .cols-sample-area {
            width: 100% !important;
        }
    </style>
}
