@using Syncfusion.JavaScript;
@using System.Collections.Generic;

@section SampleHeading{
    <span class="sampleName">Appointment Template</span>
}

@{
    List<string> scheduleView = new List<string>() { "Day", "Week", "WorkWeek", "Month" };
}

@section ControlsSection{
    <div>
        <ej-schedule id="Schedule1" width="100%" height="525px" current-date="new DateTime(2017, 6, 5)" appointment-template-id="#apptemplate" views="scheduleView" current-view="Month">
            <e-appointment-settings datasource="@ViewBag.appointments" subject='"Subject"' start-time='"StartTime"' end-time='"EndTime"' all-day='"AllDay"' recurrence='"Recurrence"' recurrence-rule='"RecurrenceRule"'></e-appointment-settings>
        </ej-schedule>
    </div>
}

@section ScriptSection{
    <script id="apptemplate" type="text/x-jsrender">
        <div style="height:100%">
            <div style='float:left; width:50px;'>{{:~format(StartTime)}}</div>
            <div>
                <div>{{:Subject}}</div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        function _getImages(date) {
            switch (new Date(date).getDay()) {
                case 0:
                    return "<img src='../images/schedule/cake.png'/>";
                case 1:
                    return "<img src='../images/schedule/basketball.png'/>";
                case 2:
                    return "<img src='../images/schedule/rugby.png'/>";
                case 3:
                    return "<img src='../images/schedule/guitar.png'/>";
                case 4:
                    return "<img src='../images/schedule/music.png'/>";
                case 5:
                    return "<img src='../images/schedule/doctor.png'/>";
                case 6:
                    return "<img src='../images/schedule/beach.png'/>";
                default:
                    return null;
            }
        }
        $.views.helpers({ format: _getImages });
    </script>
}

