@using Syncfusion.JavaScript;

@section SampleHeading{
    <span class="sampleName">Block Intervals</span>
}

@section ControlsSection{
    <div>
        <ej-schedule id="Schedule1" width="100%" height="525px" current-date="new DateTime(2017, 6, 5)" current-view="Day">
            <e-group resources="@ViewBag.Grouping"></e-group>
            <e-resources>
                <e-resource field="OwnerId" title="Owner" name="Owners" allow-multiple=true>
                    <e-resource-settings datasource="@ViewBag.OwnerData" text="Text" id="Id" group-id="GroupId" color="Color"></e-resource-settings>
                </e-resource>
            </e-resources>
            <e-blockout-settings enable="true" datasource="@ViewBag.blockData" id="Id" subject="Subject" start-time="StartTime" end-time="EndTime" resource-id="OwnerId" is-all-day="AllDay" is-block-appointment="BlockAppointment"></e-blockout-settings>
            <e-appointment-settings datasource="@ViewBag.appointments" subject='"Subject"' start-time='"StartTime"' end-time='"EndTime"' all-day='"AllDay"' recurrence='"Recurrence"' recurrence-rule='"RecurrenceRule"' resource-fields='"RoomId,OwnerId"'>
            </e-appointment-settings>
        </ej-schedule>
    </div>
}
