@using Syncfusion.JavaScript;

@section SampleHeading{
    <span class="sampleName">Categorize</span>
}

@section ControlsSection{
    <div>
        <ej-schedule id="Schedule1" width="100%" height="525px" current-date="new DateTime(2017, 6, 5)">
            <e-categorize-settings enable="true" datasource="@ViewBag.categorizeData" allow-multiple="true" id="id" color="color" font-color="fontColor" text="text"></e-categorize-settings>
            <e-context-menu-settings enable="true">
                <e-menu-items appointment="@ViewBag.appData" cells="@ViewBag.cellData"></e-menu-items>
            </e-context-menu-settings>
            <e-appointment-settings datasource="@ViewBag.appointments" subject='"Subject"' start-time='"StartTime"' end-time='"EndTime"' all-day='"AllDay"' recurrence='"Recurrence"' recurrence-rule='"RecurrenceRule"' categorize='"Categorize"'></e-appointment-settings>
        </ej-schedule>
    </div>
}
