@using Syncfusion.JavaScript;

@section SampleHeading{
    <span class="sampleName">Default Functionalities</span>
}

@section ControlsSection{
    <div>
        <ej-schedule id="Schedule1" width="100%" height="525px" current-date="new DateTime(2017, 6, 5)">
            <e-appointment-settings datasource="@ViewBag.appointments" subject='"Subject"' start-time='"StartTime"' end-time='"EndTime"' all-day='"AllDay"' recurrence='"Recurrence"' recurrence-rule='"RecurrenceRule"'></e-appointment-settings>
        </ej-schedule>
    </div>
}
