@using Syncfusion.JavaScript;

@section SampleHeading{
    <span class="sampleName">Multiple Resource Grouping Functionalities</span>
}

@section ControlsSection{
    <div>
        <ej-schedule id="Schedule1" width="100%" height="525px" current-date="new DateTime(2017, 6, 5)">
            <e-group resources="@ViewBag.Grouping"></e-group>
            <e-resources>
                <e-resource field="RoomId" title="Room" name="Rooms" allow-multiple=false>
                    <e-resource-settings datasource="@ViewBag.RoomData" text="Text" id="Id" group-id="GroupId" color="Color"></e-resource-settings>
                </e-resource>
                <e-resource field="OwnerId" title="Owner" name="Owners" allow-multiple=true>
                    <e-resource-settings datasource="@ViewBag.OwnerData" text="Text" id="Id" group-id="GroupId" color="Color"></e-resource-settings>
                </e-resource>
            </e-resources>
            <e-appointment-settings datasource="@ViewBag.appointments" subject='"Subject"' start-time='"StartTime"' end-time='"EndTime"' all-day='"AllDay"' recurrence='"Recurrence"' recurrence-rule='"RecurrenceRule"' resource-fields='"RoomId,OwnerId"'>
            </e-appointment-settings>
        </ej-schedule>
    </div>
}

@section PropertiesSection{
    <div id="sampleProperties">
        <div class="prop-grid">
            <div class="row">
                <div class="col-md-6">Orientation</div>
                <div class="col-md-6">
                    <ej-drop-down-list id="orientation" target-id="orientationname" selected-index="0" width="110px" change="onOrientationChange"></ej-drop-down-list>
                    <div id="orientationname">
                        <ul>
                            <li value="vertical">Vertical</li>
                            <li value="horizontal">Horizontal</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });

        function onOrientationChange(args) {
            $("#Schedule1").ejSchedule({ orientation: args.value });
        }
    </script>
}