@using Syncfusion.JavaScript;

@section SampleHeading{
    <span class="sampleName">Remote Data</span>
}

@section ControlsSection{
    <div>
        <ej-schedule id="Schedule1" width="100%" height="525px" current-date="new DateTime(2017, 6, 5)" time-zone="UTC -05:00" read-only="true">
            <e-appointment-settings subject='"Subject"' start-time='"StartTime"' end-time='"EndTime"' all-day='"AllDay"' recurrence='"Recurrence"' recurrence-rule='"RecurrenceRule"'>
                <e-datamanager url="//js.syncfusion.com/demos/ejServices/api/Schedule/LoadData" cross-domain="true"></e-datamanager>
            </e-appointment-settings>
        </ej-schedule>
    </div>
}
