@section SampleHeading{
    <span class="sampleName">Autocomplete / Autofill</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-autocomplete id="selectFlower" width="100%" enable-auto-fill="true" datasource="ViewBag.datasource" watermark-text="Select a flower">  </ej-autocomplete>

          </div>
    </div>
}
