@section SampleHeading{
    <span class="sampleName">Autocomplete / Data Bining - Local Data</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-autocomplete id="selectState" width="100%" datasource="ViewBag.datasource" watermark-text="Select a state">
                <e-autocomplete-fields text="countryName" key="index" />
            </ej-autocomplete>

        </div>
    </div>
}
