@section SampleHeading{
    <span class="sampleName">Autocomplete / Default Functionalities</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">

            <ej-autocomplete id="selectCar" width="100%" watermark-text="Select a car" datasource="ViewBag.datasource"></ej-autocomplete>

         </div>
    </div>
}
