@section SampleHeading{
    <span class="sampleName">Autocomplete / Rtl</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-autocomplete id="selectCar" width="100%" datasource="ViewBag.datasource" enable-rtl="true" watermark-text="Select a car"></ej-autocomplete>
          
        </div>
    </div>
}
