@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization.DiagramEnums;
<style type="text/css">
    #resizeBorder {
        stroke: black;
        stroke-width: 3px;
        stroke-dasharray: none;
        opacity: 1;
    }

    #nw-resize, #n-resize, #ne-resize, #w-resize, #e-resize, #sw-resize, #s-resize, #se-resize {
        fill: none;
        stroke: transparent;
    }
</style>
@section SampleHeading{ <span class="sampleName">Diagram / Default Functionalities</span>}
@section ControlsSection{
    <ej-diagram id="diagram" width="700px" height="400px" enable-context-menu="false" tool="SingleSelect" node-template="nodeTemplate" selectionChange="selectionChanged">
        <e-snap-settings snap-constraints="None">
        </e-snap-settings>
        <e-datasource-settings id="Name" parent="Category" dataSource="ViewBag.datasource"></e-datasource-settings>
        <e-default-settings>
            <e-node constraints="Select | NodeConstraints.PointerEvents" width="100" height="40" border-color="black" border-width="1">
                <e-labels>
                    <e-diagram-label name="label1" font-color="white" font-size="12">
                        <e-margin left="10" right="10"></e-margin>
                    </e-diagram-label>
                </e-labels>
            </e-node>
            <e-connector line-color="#000000" constraints="None">
                <e-segments>
                    <e-segment type="Orthogonal"></e-segment>
                </e-segments>
            </e-connector>
        </e-default-settings>
        <e-page-settings scroll-limit="@ScrollLimit.Diagram"></e-page-settings>
        <e-layout type="HierarchicalTree" horizontal-spacing="25" vertical-spacing="35" margin-x="3" margin-y="3"></e-layout>
        <e-selected-items constraints="All &~ SelectorConstraints.Rotator"></e-selected-items>
    </ej-diagram>
}

@section PropertiesSection{
    <div id="sampleProperties">
        <div>
            <div class="row">
                <div class="col-md-6">
                    <b>Layout Settings</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 aligntop" style="margin-right:-25px;">
                    Orientation
                </div>
                <div class="col-md-3">
                    <input type="text" id="orientation" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 aligntop" style="margin-right:-25px;">
                    Margin X
                </div>
                <div class="col-md-3">
                    <input type="text" id="marginX" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 aligntop" style="margin-right:-25px;">
                    Margin Y
                </div>
                <div class="col-md-3">
                    <input type="text" id="marginY" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <b>Spacing</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 aligntop" style="margin-right:-25px;">
                    Horizontal
                </div>
                <div class="col-md-3">
                    <input type="text" id="horizontalSpacing" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 aligntop" style="margin-right:-25px;">
                    Vertical
                </div>
                <div class="col-md-3">
                    <input type="text" id="verticalSpacing" />
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row" id="hide">
                <div class="col-md-3 aligntop" style="margin-right:-25px;">
                    Expand
                </div>
                <div class="col-md-3">
                    <input id="expand" />
                </div>
            </div>
        </div>
    </div>
    <div id="list">
        <ul>
            <li value="toptobottom">Top-Bottom</li>
            <li value="lefttoright">Left-Right</li>
            <li value="righttoleft">Right-Left</li>
            <li value="bottomtotop">Bottom-Top</li>
        </ul>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $("#sampleProperties").ejPropertiesPanel();

        //Binds Custom JSON with node
        function nodeTemplate(diagram, node) {
            node.labels[0].text = node.Name;
        }

        $("#hide").hide();
        //Drop down to change the orientation
        $("#orientation").ejDropDownList({
            watermarkText: "Orientation",
            text: "Top-Bottom",
            targetID: "list",
            width: "130px",
            "change": function (args) {
                $("#diagram").ejDiagram({
                    layout: {
                        orientation: args.value,
                    }
                });
            }
        });
        //Numeric text box to change the horizontal spacing
        $("#horizontalSpacing").ejNumericTextbox(
        {
            watermarkText: "Horizontal Spacing",
            value: 25,
            minValue: 1,
            maxValue: 10000,
            width: "130px",
            "change": function (args) {
                $("#diagram").ejDiagram({
                    layout: {
                        horizontalSpacing: args.value
                    }
                });
            }
        });
        //Numeric text box to change the vertical spacing
        $("#verticalSpacing").ejNumericTextbox(
        {
            watermarkText: "Vertical Spacing",
            value: 35,
            minValue: 1,
            maxValue: 10000,
            width: "130px",
            "change": function (args) {
                $("#diagram").ejDiagram({
                    layout: {
                        verticalSpacing: args.value
                    }
                });
            }
        });
        //Numeric text box to change the margin x
        $("#marginX").ejNumericTextbox(
        {
            watermarkText: "Margin X",
            value: 3,
            minValue: -160,
            maxValue: 10000,
            width: "130px",
            "change": function (args) {
                $("#diagram").ejDiagram({
                    layout: {
                        marginX: args.value
                    }
                });
            }
        });
        //Numeric text box to change the margin y
        $("#marginY").ejNumericTextbox(
        {
            watermarkText: "Margin Y",
            value: 3,
            minValue: 0,
            maxValue: 10000,
            width: "130px",
            "change": function (args) {
                $("#diagram").ejDiagram({
                    layout: {
                        marginY: args.value
                    }
                });
            }
        });
        //Check box to expand or collapse sub trees
        $("#expand").ejCheckBox({
            "change": function (args) {
                var diagram = $("#diagram").ejDiagram("instance");
                if (diagram.model.selectedItems.children.length != 0)
                    diagram.updateNode(diagram.model.selectedItems.children[0].name, { isExpanded: args.isChecked ? true : false })
            }
        });
        //end region
        //region helper methods
        function selectionChanged(args) {
            if (args.selectedItems.length == 1) {
                $("#hide").show();
                $("#expand").ejCheckBox({
                    "checked": args.selectedItems[0].isExpanded ? true : false
                });
            }
            else {
                $("#hide").hide();
            }
        }
        //end region
    </script>
}
<style>
    .svg-rotate-ie:hover {
        cursor: url("~/wwwroot/css/content/ej/common-images/rotate.cur"),default;
    }

    .svg-rotate {
        cursor: url("~/wwwroot/css/content/ej/common-images/rotate.cur"),default;
    }
</style>
