@section SampleHeading{<span class="sampleName">Rotator / LocalData </span>}
@section MetaTags{
    <meta name="description" content="This example demonstrates how to bind the local data source key value mapping in the Syncfusion ASP.NET Core Rotator component.">
}
@section ControlsSection{
    <div class="frame">

        <ej-rotator id="rot" datasource="ViewBag.datasource" slide-width="100%" slide-height="350px" is-responsive="true">
            <e-rotator-fields text="text" url="url" />
        </ej-rotator>
       
    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 100%;
            box-sizing : border-box;
        }
        #rot > li img {
            width: 100%;
            height: 350px;
        }
    </style>
}
