@section SampleHeading{<span class="sampleName">Rotator - API's</span> }
@section MetaTags{
    <meta name="description" content="This example demonstrates how to change the position, display, pager, animation, and orientation of the Syncfusion ASP.NET Core Rotator component.">
}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-rotator id="sliderContent" slide-width="33%" slide-height="auto" frame-space="0px" display-item-count="3">
                <e-rotator-items>
                    <e-rotator-item caption="Nature" url="../Images/rotator/nature.jpg"></e-rotator-item>
                    <e-rotator-item caption="Beautiful Bird" url="../Images/rotator/bird.jpg"></e-rotator-item>
                    <e-rotator-item caption="Amazing Sculptures" url="../Images/rotator/sculpture.jpg"></e-rotator-item>
                    <e-rotator-item caption="Sea-View" url="../Images/rotator/seaview.jpg"></e-rotator-item>
                    <e-rotator-item caption="Snow Fall" url="../Images/rotator/snowfall.jpg"></e-rotator-item>
                    <e-rotator-item caption="Credit Card" url="../Images/rotator/card.jpg"></e-rotator-item>
                    <e-rotator-item caption="Colorful Night" url="../Images/rotator/night.jpg"></e-rotator-item>
                </e-rotator-items>
            </ej-rotator>
        </div>
    </div>
}
<div id="display">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>
<div id="move">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>
<div id="orient">
    <ul>
        <li>horizontal</li>
        <li>vertical</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Item Display
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="changeDisplay" width="120px" target-id="display" value="3" change="onDisplayChange"></ej-drop-down-list>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Item Move
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="itemMove" width="120px" target-id="move" change="onMoveChange"></ej-drop-down-list>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            PagerPosition
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="changePager" width="120px" datasource="ViewBag.datasource" selected-item-index="4" change="onPagerChange">
                <e-drop-down-list-fields text="text" value="value" />
            </ej-drop-down-list>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Animation
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="changeAnimation" width="120px" datasource="ViewBag.animationsource" selected-item-index="0" change="onAnimationChange">
                <e-drop-down-list-fields text="text" value="value" />
            </ej-drop-down-list>
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Orientation
        </div>
        <div class="col-md-3">
            <ej-drop-down-list id="changeOrientation" width="120px" target-id="orient" selected-item-index="0" change="onOrientationChange"> </ej-drop-down-list>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">Show/Hide Pager</div>
        <div class="col-md-3">
            <ej-check-box id="chkPager" checked="true" change="onPager"/>           
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">Enable/Disable</div>
        <div class="col-md-3">
            <ej-check-box id="chkEnable" checked="true" change="EnableDisable"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Action
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <ej-button id="pevious" size="@ButtonSize.Small" text="Previous" width="120px" click="previous"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <ej-button id="next" size="@ButtonSize.Small" text="Next" width="120px" click="next"/>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            Current Index
        </div>
        <div class="col-md-3">
            <ej-button id="GetValue" size="@ButtonSize.Small" text="Get Index" width="120px" click="getValue" />
        </div>
    </div>

}
@section ScriptSection{

    <script type="text/javascript">
        var slideObj, dropObj;
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
        $(function () {
            first = [{ text: "1" }];
            second = [{ text: "1" }, { text: "2" }];
            third = [{ text: "1" }, { text: "2" }, { text: "3" }];
        });
        function onPagerChange(args) {
            var slideObj = $("#sliderContent").data("ejRotator");
            slideObj.option({ pagerPosition: args.value });
        }
        function onAnimationChange(args) {
            var slideObj = $("#sliderContent").data("ejRotator");
            slideObj.option({ animationType: args.value });
        }
        function onDisplayChange(args) {
            var slideObj = $("#sliderContent").data("ejRotator");
            var dropObj = $('#itemMove').data('ejDropDownList');
            if (args.text == 1) {
                dropObj.setModel({ dataSource: first, value: args.text });
                slideObj.option({ navigateSteps: args.text, slideWidth: "100%", displayItemsCount: args.text })
            }
            else if (args.text == 2) {
                dropObj.setModel({ dataSource: second, value: args.text });
                slideObj.option({ navigateSteps: args.text, slideWidth: "50%", displayItemsCount: args.text })
            }
            else {
                dropObj.setModel({ dataSource: third, value: args.text });
                slideObj.option({ navigateSteps: args.text, slideWidth: "33%", displayItemsCount: args.text })
            }
        }
        function onMoveChange(args) {
            var slideObj = $("#sliderContent").data("ejRotator");
            slideObj.option({ navigateSteps: args.text });
        }
        function onOrientationChange(args) {
            var slideObj = $("#sliderContent").data("ejRotator");
            slideObj.option({ orientation: args.text });
        }

        function onPager(args) {
            var slideObj = $("#sliderContent").data("ejRotator");
            slideObj.option({ showPager: args.isChecked });
        };
        function EnableDisable(args) {
            var slideObj = $("#sliderContent").data("ejRotator");
            if (args.isChecked)
                slideObj.enable();
            else
                slideObj.disable();
        };

        function previous() {
            var slideObj = $("#sliderContent").data("ejRotator");
            slideObj.slidePrevious();
        }
        function next() {
            var slideObj = $("#sliderContent").data("ejRotator");
            slideObj.slideNext();
        }
        function getValue() {
            var slideObj = $("#sliderContent").data("ejRotator");
            alert("Current Slide Index : " + slideObj.getIndex());
        }

    </script>
}
@section StyleSection{
    <link href="@Url.Content("~/css/Samples/RotatorProperties.css")" rel="stylesheet" />
}