@section SampleHeading{<span class="sampleName">Rotator - Thumbnail</span> }
@section ControlsSection{
    <div class="frame">
        <ej-rotator id="sliderContent" datasource="ViewBag.datasource" slide-height="300px" slide-width="100%" show-play-button="true" allow-keyboard-navigation="true" show-thumbnail="true" is-responsive="true">
            <e-rotator-fields text="text" url="url" />
        </ej-rotator>
       
    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .frame {
            width: 100%;
            box-sizing : border-box;
        }

        #sliderContent > li > img {
            width: 100%;
            height: 300px;
        }
    </style>
}

