@section SampleHeading{ 
    <span class="sampleName">TagCloud / Default</span>}

@section ControlsSection{
    <ej-tag-cloud id="techWebList" dataSource="ViewBag.datasource" title="Tech Sites" >
        <e-tag-cloud-fields text="text" frequency="frequency" />
    </ej-tag-cloud>
}
 