@section SampleHeading{ <span class="sampleName">TagCloud / Events</span>}

@section ControlsSection{
   <ej-tag-cloud id="tagEvents" dataSource="ViewBag.datasource" title="Car Models" create="oncreate" mouse-over="onmouseover" click="onclick">
       <e-tag-cloud-fields text="text" frequency="frequency" url="url" />
    </ej-tag-cloud>
}
<div id="tagCloudTarget">
    <ul>
        <li>mouseover</li>
        <li>mouseout</li>
        <li>click</li>
    </ul>
</div>
@section EventsDropdown{

<ej-drop-down-list id="selectControls_input" target-id="tagCloudTarget" show-checkbox="true" check-all="true" change="evtpropscheckedevent"></ej-drop-down-list>

}
@section ScriptSection{
    <script>
        function evtpropscheckedevent(args) {
            tagObj = $("#tagEvents").data("ejTagCloud");
            if (args.isChecked) {
                switch (args.selectedText) {
                    case "mouseover": tagObj.option(args.selectedText, "onmouseover"); break;
                    case "mouseout": tagObj.option(args.selectedText, "onmouseout"); break;
                    case "click": tagObj.option(args.selectedText, "onclick"); break;
                }
            }
            else tagObj.option(args.selectedText, null);
        }

        function oncreate(args) {
            jQuery.addEventLog("Tagcloud has been <span class='eventTitle'>created</span>.");
        }
        function onmouseover(args) {
            jQuery.addEventLog("Mouse pointer is <span class='eventTitle'>hovered </span> on " + args.value + ".</br>");
        }
        function onmouseout(args) {
            jQuery.addEventLog("Mouse pointer is <span class='eventTitle'>hovered away</span> from " + args.value + ".</br>");
        }
        function onclick(args) {
            jQuery.addEventLog(args.value + " is <span class='eventTitle'>clicked</span>.</br>");
        }
        function onClear() {
            $("#EventLog").html("");
        }
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}

