@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{
    <span class="sampleName">Default Functionalities</span>
}

@section ControlsSection{
 <ej-barcode id="93ExtBarcode" text="SYNCFUSION" symbology-type=Code93Extended />
}