@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{
    <span class="sampleName">Default Functionalities</span>
}

@section ControlsSection{
 <ej-barcode id="128CBarcode" text="01234567" symbology-type=Code128C />
}