@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{
    <span class="sampleName">Default Functionalities</span>
}

@section ControlsSection{
 <ej-barcode id="DefaultBarcode" text="//www.syncfusion.com" x-dimension="8"/>
}