@section SampleHeading{
    <span class="sampleName">Toolbar / Inline Toolbar</span>}
@section ControlsSection{
            <div class="frame" style="width:300px">
                <div class="control">
               
                    <ej-toolbar id="inlineToolbar" is-responsive="true" responsive-type="Inline" enable-separator="true" dataSource="ViewBag.datasource" width="320px">
                        <e-toolbar-fields id="id" sprite-css-class="spriteCss" group="group" tooltip-text="tooltiptext" /></ej-toolbar>
                </div>
            </div>
    <style>
        .material .frame {
            width: 497px;
        }

        .e-toolbar > .e-horizontal.e-ul > li {
            margin-top: 4px;
        }
    </style>
}
