@section SampleHeading{
    <span class="sampleName">Toolbar / Template</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div id="toolbarTemplate">
                <ul>
                    <li>
                        <div class="ctrlradio">
                            <ej-radio-button id="Radio1" name="small"  checked="false"   />
                        </div>
                        option </li>
                    <li id="Dropdown" title="Dropdown Control">
                        <ej-drop-down-list id="selectcar" height="23" width="100" target-id="cars" selected-item-index="0"></ej-drop-down-list>
                        <div id="cars">
                            <ul>
                                <li>Audi A4</li>
                                <li>Audi A5</li>
                                <li>Audi A6</li>
                                <li>Audi A7</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        $(function () {
            // declaration
            $("#toolbarTemplate").ejToolbar({ width: "100%" });
        });
    </script>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrlradio {
            padding-top: 4px;
            padding-right: 5px;
            float: left;
        }

        .frame {
            width: 35%;
        }

        .control {
            color: black;
            font-family: 'Segoe UI';
            font-size: medium;
        }

        #selectcar {
            line-height: 20px;
        }
    </style>
}
