@section SampleHeading{
    <span class="sampleName">ListBox / Data Binding - Remote data</span>}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select a customer
        </div>
        <ej-list-box id="customerList" query="ej.Query().from('Customers').take(10)">
            <e-datamanager url="//js.syncfusion.com/ejServices/wcf/NorthWind.svc/" cross-domain="true" ></e-datamanager>
            <e-list-box-fields text="CustomerID" />
        </ej-list-box>        
    </div>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }

    </style>
}
