@section SampleHeading{
    <span class="sampleName">Upload / Default Functionalities</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="posupload">Select a file to upload</div>  
           <ej-upload-box id="uploadbox1" width="100px" save-url="//js.syncfusion.com/ejServices/api/uploadbox/Save" remove-url="//js.syncfusion.com/ejServices/api/uploadbox/Remove">
               <e-button-text browse="File Browse"/>
               <e-dialog-text size="filesize"/>
           </ej-upload-box>
        </div>
    </div>
}
@section StyleSection{
    <style class="cssStyles">
        .posupload {
            padding: 10px;
            text-align: center;
        }

        #uploadbox1 {
            margin: 0 auto;
        }
    </style>
}

