@section SampleHeading{
    <span class="sampleName">Upload / Rtl</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <div class="posupload"> Select a file to upload</div>
            <ej-upload-box id="UploadRtl" save-url="//js.syncfusion.com/demos/ejServices/api/uploadbox/Save" remove-url="//js.syncfusion.com/demos/ejServices/api/uploadbox/Remove" enable-rtl="true">
            </ej-upload-box>
        </div>
    </div>
}
@section StyleSection{
    <style class="cssStyles">
        .frame {
            width: 215px;
        }

        .posupload
        {           
            padding-bottom: 10px;
        }
    </style>
}
