@section SampleHeading{ <span class="sampleName">Rating / Default</span>}

@section ControlsSection{
    
    <ej-tab id="moviesTab">
        <e-tab-items>
            <e-tab-item id="steelman" text="Man of Steel">
                <e-content-template>
                    <div>
                        <table>
                            <tr>
                                <td class="movies-img" valign="top">
                                    <img src="@Url.Content("~/Images/rating/mos.png")" alt="mos" />
                                </td>
                                <td valign="top">
                                    <div>
                                        <span class="movie-header">Man of Steel</span><br />
                                        Rating :
                                        <br />
                                        <ej-rating  id="univRating" value="4"/>

                                            <span>Movie Info:</span>
                                            <p>
                                                A young boy learns that he has extraordinary powers and is not of this Earth.
                                            </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </e-content-template>
            </e-tab-item>

            <e-tab-item id="woldwar" text="World War Z">
                <e-content-template>
                    <div>
                        <table>
                            <tr>
                                <td class="movies-img" valign="top">
                                    <img src="@Url.Content("~/Images/rating/wwz.png")" alt="mos" />
                                </td>
                                <td valign="top">
                                    <div>
                                        <span class="movie-header">World War Z</span><br />
                                        Rating :
                                        <br />

                                        <ej-rating id="wwzRating" value="4">
                                            <span>Movie Info:</span>
                                            <p>
                                                The story revolves around United Nations employee Gerry Lane (Pitt).
                                            </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </e-content-template>
            </e-tab-item>
            <e-tab-item id="unive" text="Monsters University">
                <e-content-template>
                    <div>
                        <table>
                            <tr>
                                <td class="movies-img" valign="top">
                                    <img src="@Url.Content("~/Images/rating/mu.png")" alt="mos" />
                                </td>
                                <td valign="top">
                                    <div>
                                        <span class="movie-header">Monsters University</span><br />
                                        Rating :
                                        <br />


                                        <ej-rating id="mosRating" value="3">
                                            <span>Movie Info:</span>
                                            <p>
                                                Mike Wazowski and James P. Sullivan are an inseparable pair, but that wasn't always the case.
                                            </p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </e-content-template>
            </e-tab-item>
        </e-tab-items>
    </ej-tab>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .movies-img {
            width: 125px;
        }

        .movie-header {
            font-size: 20px;
            font-weight: 600;
        }
    </style>
}

