@section SampleHeading{ <span class="sampleName">Rating / Orientation</span>}

@section ControlsSection{

    <div class="frame">
        
        <ej-rating id="orientRating"/>
    </div>
}

<div id="ratingTarget">
    <ul>
        <li>Horizontal</li>
        <li>Vertical</li>
    </ul>
</div>
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">
            Orientation :
        </div>
        <div class="col-md-3">
           <ej-drop-down-list id="optSetValue" target-id="ratingTarget" selected-item-index="0" width="110px" change="onChanged"/>
             
        </div>
    </div>
}
@section ScriptSection{
    <script>
        function onChanged(args) {
            $("#orientRating").ejRating("setModel", { orientation: args.selectedText });
        }
        $(document).ready(function () { $("#sampleProperties").ejPropertiesPanel(); });
    </script>
}