
@section SampleHeading{
    <span class="sampleName">Presentation / ModifyAnimation</span>
}

@section ControlsSection{
    @{Html.BeginForm("ModifyAnimation", "Presentation", FormMethod.Post);
        {
            <div class="Common">
                <div class="tablediv">
                    <label class="rowdiv">
                        This section demonstrates how animation can be modified in a presentation using Essential Presentation.
                    </label>
                </div>
                <div class="tablediv">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <div style="border: solid 1px #EDEDED; padding: 5px 7px 5px 7px;">
                                <table width="100%">
                                    <tr>
                                        <td align="right">
										  <input type="submit" class="Button" name="view" value=" Input Template " />
                                            &nbsp;
                                          <input type="submit" class="Button" name="view" value="Modify Presentation" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            Html.EndForm();
        }}}
