
@section SampleHeading{
    <span class="sampleName">Presentation / PPTXToPDF</span>
}

@section ControlsSection{
    @{Html.BeginForm("PPTXToPDF", "Presentation", FormMethod.Post);
        {
            <div class="Common">
                <div class="tablediv">
                    <label class="rowdiv">
                        This sample demonstrates how to convert a PowerPoint presentation to PDF.
                        <br />
                        Click the button to convert the PowerPoint presentation to PDF document by using Essential Presentation and Essential PDF.
                        <br />
                        Note: Adobe Reader or its equivalent is required to view the resultant document.
                    </label>
                </div>
                <div class="tablediv">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <div style="border: solid 1px #EDEDED; padding: 5px 7px 5px 7px;">
                                <table width="100%">
                                    <tr>
                                        <td align="right">
                                            <input type="submit" class="Button" name="view" value=" Input Template " />
                                            &nbsp;
                                            <input type="submit" class="Button" name="view" value="Convert to PDF" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            Html.EndForm();
        }}}
