
@section SampleHeading{
    <span class="sampleName">Presentation / PPTXToImage</span>
}

@section ControlsSection{
    @{Html.BeginForm("PPTXToImage", "Presentation", FormMethod.Post);
        {
            <div class="Common">
                <div class="tablediv">
                    <label class="rowdiv">
                        This sample demonstrates how to convert the PowerPoint slide to an image.
                        <br />
                        Click the button to convert the first slide of the PowerPoint presentation to an image by using Essential Presentation.
                    </label>
                </div>
                <div class="tablediv">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <div style="border: solid 1px #EDEDED; padding: 5px 7px 5px 7px;">
                                <table width="100%">
                                    <tr>
                                        <td align="right">
                                            <input type="submit" class="Button" name="view" value=" Input Template " />
                                            &nbsp;
                                            <input type="submit" class="Button" name="view" value="Convert to Image" />
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            Html.EndForm();
        }}}
