@section SampleHeading{
    <span class="sampleName">Splitter / Nested Splitter</span>}
@section MetaTags{
    <meta name="description" content="This example demonstrates nested pane support for the Syncfusion ASP.NET Core Splitter component, which allows adding a pane between two pane elements.">
}
@section ControlsSection{
    <ej-splitter id="outterSplitter" is-responsive="true" enable-auto-resize="true" height="350" width="487" orientation="@Orientation.Vertical">
        <e-split-panes>
            <e-split-pane pane-size="60" min-size="30">
                <e-content-template>
                    <div>
                        <div class="content" style="padding: 0px 15px;">
                            <h3> FRENCH CITIES
                            </h3>
                        </div>
                    </div>
                </e-content-template>
            </e-split-pane>
            <e-split-pane minSize="30">
                <e-content-template>
                    <div style="height:100%">
                        <ej-Splitter id="innerSplitter" is-responsive="true" width="485" enable-auto-resize="true" >
                            <e-split-panes>
                                <e-split-pane pane-size="33%" minSize="30">
                                    <e-content-template>
                                        <div>
                                            <div class="content">
                                                <h3 class="h3">PARIS</h3>
                                                Paris, the city of lights and love - this short guide is full of ideas for how to make the most of the romanticism...
                                            </div>
                                        </div> 
                                    </e-content-template>
                                </e-split-pane>
                                <e-split-pane pane-size="33%" min-size="30">
                                    <e-content-template>
                                        <div>
                                            <div class="content">
                                                <h3 class="h3">CAMEMBERT</h3>
                                                The village in the Orne département of Normandy where the famous French cheese is originated from.
                                            </div>
                                        </div>
                                    </e-content-template>
                                </e-split-pane>
                                <e-split-pane min-size="30">
                                    <e-content-template>
                                        <div>
                                            <div class="content">
                                                <h3 class="h3">GRENOBLE</h3>
                                                The capital city of the French Alps and a major scientific center surrounded by many ski resorts, host of the Winter Olympics in 1968.
                                            </div>
                                        </div>
                                    </e-content-template>
                                </e-split-pane>
                            </e-split-panes>
                        </ej-Splitter>
                    </div>
                </e-content-template>
            </e-split-pane>
        </e-split-panes>
    </ej-splitter>
}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .content>h3 {
            font-size: 14px;
            font-weight: 600;
        }

        #innerSplitter {
            border: 0 none;
        }

        .content {
            padding: 15px;
        }
    </style>
}
