@section MetaTags{
   <meta name="description" content="This demo shows how to bind the values, formulas, comments, hyperlinks, cell formats, and number formats using Syncfusion ASP.NET Core Spreadsheet cells.">
}
@section SampleHeading{<span class="sampleName"> Spreadsheet / Cell Data Binding</span>}
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    <ej-spread-sheet id="Spreadsheet" allow-formula-bar="false" show-ribbon="false" allow-import="false" load-complete="loadComplete" user-name="Comments">
     <e-scroll-settings width="900" height="470" is-responsive="true"></e-scroll-settings>
        <e-sheets>
            <e-sheet>
                <e-rows>
                    <e-row height="30">
                        <e-cells>
                            <e-cell value="Item Name">
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell value="Quantity">
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell value="Price">
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell value="Amount">
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell value="Stock Details">
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell value="Website">
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Casual Shoes">
                                <e-comment value="Casual Footwears with wide variety of colors."></e-comment>
                            </e-cell>
                            <e-cell value="10">
                            </e-cell>
                            <e-cell value="20">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="=B2*C2">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="OUT OF STOCK"></e-cell>
                            <e-cell value="Amazon">
                                <e-hyperlink web-addr="www.amazon.com"></e-hyperlink>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Sports Shoes">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="20">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="30">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="=B3*C3">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="IN STOCK">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="AliExpress">
                                <e-hyperlink web-addr="www.aliexpress.com"></e-hyperlink>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Formal Shoes">
                                <e-comment value="Formal Footwears with wide range of sizes."></e-comment>
                            </e-cell>
                            <e-cell value="20"></e-cell>
                            <e-cell value="15">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="=B4*C4">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="IN STOCK"></e-cell>
                            <e-cell value="Amazon">
                                <e-hyperlink web-addr="www.amazon.com"></e-hyperlink>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Sandals & Floaters">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="15">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="20">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="=B5*C5">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="OUT OF STOCK">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="Alibaba">
                                <e-hyperlink web-addr="www.alibaba.com"></e-hyperlink>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Flip-Flops & Slippers"></e-cell>
                            <e-cell value="30"></e-cell>
                            <e-cell value="10">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="=B6*C6">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="IN STOCK"></e-cell>
                            <e-cell value="Ebay">
                                <e-hyperlink web-addr="www.ebay.com"></e-hyperlink>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Sneakers">
                                <e-styles background-color="#E5F3FF"></e-styles>
                                <e-comment value="Sneakers with recent designs."></e-comment>
                            </e-cell>
                            <e-cell value="40">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="20">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="=B7*C7">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="OUT OF STOCK">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="Amazon">
                                <e-hyperlink web-addr="www.amazon.com"></e-hyperlink>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Running Shoes"></e-cell>
                            <e-cell value="20"></e-cell>
                            <e-cell value="10">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="=B8*C8">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="IN STOCK"></e-cell>
                            <e-cell value="AliExpress">
                                <e-hyperlink web-addr="www.aliexpress.com"></e-hyperlink>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Loafers">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="31">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="10">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="=B9*C9">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="OUT OF STOCK">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="Alibaba">
                                <e-hyperlink web-addr="www.alibaba.com"></e-hyperlink>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="Cricket Shoes"></e-cell>
                            <e-cell value="41"></e-cell>
                            <e-cell value="30">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="=B10*C10">
                                <e-formats type="currency"></e-formats>
                            </e-cell>
                            <e-cell value="IN STOCK"></e-cell>
                            <e-cell value="Ebay">
                                <e-hyperlink web-addr="www.ebay.com"></e-hyperlink>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row>
                        <e-cells>
                            <e-cell value="T-Shirts">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="50">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="10">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="=B11*C11">
                                <e-formats type="currency"></e-formats>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="OUT OF STOCK">
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                            <e-cell value="Amazon">
                                <e-hyperlink web-addr="www.amazon.com"></e-hyperlink>
                                <e-styles background-color="#E5F3FF"></e-styles>
                            </e-cell>
                        </e-cells>
                    </e-row>
                    <e-row height="30">
                        <e-cells>
                            <e-cell>
                                <e-styles background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell>
                                <e-styles background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell value="Total Amount" index="2">
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell value="=Sum(D2:D11)">
                                <e-formats type="currency"></e-formats>
                                <e-styles font-weight="bold" color="#FFFFFF" background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell>
                                <e-styles background-color="#428bca"></e-styles>
                            </e-cell>
                            <e-cell>
                                <e-styles background-color="#428bca"></e-styles>
                            </e-cell>
                        </e-cells>
                    </e-row>
                </e-rows>
            </e-sheet>
        </e-sheets>
    </ej-spread-sheet>
}
@section ScriptSection{
    <script type="text/javascript">

        function loadComplete(args) {
            this.setWidthToColumns([140, 100, 100, 110, 140, 100, 110]);
        }

    </script>
}