@section SampleHeading{<span class="sampleName"> Spreadsheet / Conditional Formatting</span>}
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
    <ej-spread-sheet id="Spreadsheet" allow-formula-bar="false" show-ribbon="false" enable-context-menu="false" allow-import="false" load-complete="loadComplete">
        <e-scroll-settings width="900" height="470" is-responsive="true"></e-scroll-settings>
        <e-sheets>
            <e-sheet merge-cells=@(new List<string>() {"A1:A5","D1:D5","G1:G5","G7:G11", "A7:A11", "D7:D11" })>
                <e-cformat-rules>
                    <e-cformat-rule action="GreaterThan" inputs=@(new List<string>() {"5000"}) color="RedFill" range="E7:E11"></e-cformat-rule>
                    <e-cformat-rule action="LessThan" inputs=@(new List<string>() {"30"}) color="YellowFillwithDarkYellowText" range="H1:H5"></e-cformat-rule>
                    <e-cformat-rule action="Between" inputs=@(new List<string>() {"400","500"}) color="GreenFillwithDarkGreenText" range="B7:B11"></e-cformat-rule>
                    <e-cformat-rule action="EqualTo" inputs=@(new List<string>() {"20"}) color="RedFill" range="H7:H11"></e-cformat-rule>
                    <e-cformat-rule action="TextContains" inputs=@(new List<string>() {"loafers"}) color="RedText" range="B1:B5"></e-cformat-rule>
                    <e-cformat-rule action="DateOccur" inputs=@(new List<string>() { "02/04/2014" }) color="RedFill" range="E1:E5"></e-cformat-rule>
                </e-cformat-rules>
                <e-range-settings><e-range-setting datasource="ViewBag.Datasource" show-header="false"></e-range-setting></e-range-settings>
            </e-sheet>
        </e-sheets>
    </ej-spread-sheet>
}
@section ScriptSection{
    <script type="text/javascript">
        function loadComplete(args) {
            var xlFormat = this.XLFormat;
            this.sheetRename("Conditional Formatting");
            this.setWidthToColumns([165, 130, 37, 165, 130, 37, 129, 132]);
            xlFormat.format({ "style": { "font-weight": "bold", "font-size": "10pt", "vertical-align": "middle", "text-align": "center" } }, "A1:A13");
            xlFormat.format({ "style": { "font-weight": "bold", "font-size": "10pt", "vertical-align": "middle", "text-align": "center" } }, "D1:D13");
            xlFormat.format({ "style": { "font-weight": "bold", "font-size": "10pt", "vertical-align": "middle", "text-align": "center" } }, "G1:G7");
        }
</script>
}