@section SampleHeading{<span class="sampleName"> Spreadsheet / Default Functionalities</span>}
@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}
@section ControlsSection{
<ej-spread-sheet id="Spreadsheet" allow-formula-bar="false"  load-complete="loadComplete" open-failure="openFailure">
    <e-scroll-settings width="900" height="470"></e-scroll-settings>
    <e-sheets>
        <e-sheet>
            <e-range-settings><e-range-setting datasource="ViewBag.Datasource" show-header="true"></e-range-setting></e-range-settings>
        </e-sheet>
    </e-sheets>
    <e-import-settings import-mapper="Import"></e-import-settings>
    <e-export-settings excel-url="ExcelExport"
                       csv-url="CsvExport"></e-export-settings>
</ej-spread-sheet>
}
@section ScriptSection{
<script type="text/javascript">

        function loadComplete(args) {
            var xlFormat = this.XLFormat;
            if (!this.isImport) {
                this.setWidthToColumns([ 142, 132, 110, 105, 102, 112, 122, 122, 102 ]);
                xlFormat.format({ "style": { "font-weight": "bold" } }, "A1:H1");
                xlFormat.format({ "type": "shortdate" }, "B2:B11");
                xlFormat.format({ "type": "time" }, "C2:C11");
                xlFormat.format({ "type": "currency" }, "E2:H11");
            }
        }

        function openFailure(args) {
            var alertDlg = $("#" + this._id + "_alertdlg");
            this._renderAlertDlgContent(alertDlg, "Alert", args.statusText);
            alertDlg.ejDialog("open");
        }

</script>
}