@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">Editor / Default </span>}
@section ControlsSection{
    <div class="frame">
        <div class="row">
            <div class="col-xs-6 col-sm-3"><span>Kilometers</span></div>
            <div class="col-xs-6 col-sm-3">
                <ej-numeric-text-box id="numeric" value="1000" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Service Tax</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-percentage-text-box id="percent" value="100" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Fare</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-currency-text-box id="currency" value="50" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Mobile No</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-mask-edit id="maskedit" mask-format="99-999-99999" input-mode="@InputMode.Text" watermark-text="99-999-99999" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3"></div>
            <div class="col-xs-6 col-sm-3">
                <ej-button id="btn" size="@ButtonSize.Small" text="PayBill" />
            </div>
        </div>
    </div>

}
@section StyleSection{

    <style>
        .frame {
            width: 30%;
        }

        .col-xs-6.col-sm-3 {
            padding: 5px;
        }
    </style>
}