@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">Editor / Events</span> }

@section ControlsSection{
    <div class="frame">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Numeric Textbox</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-numeric-text-box id="numeric" value="1001" create="onNumericCreate" change="numericValChange" focus-in="numericFocusIn" focus-out="numericFocusOut" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Percentage Textbox</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-percentage-text-box id="percent" value="25" create="onPercentageCreate" change="percentValChange" focus-in="percentFocusIn" focus-out="percentFocusOut" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>Currency Textbox</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-currency-text-box id="currency" value="32" create="onCurrencyCreate" change="currencyValChange" focus-in="currencyFocusIn" focus-out="currencyFocusOut" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <span>MaskEdit Textbox</span>
            </div>
            <div class="col-xs-6 col-sm-3">
                <ej-mask-edit id="maskedit" input-mode="@InputMode.Text" mask-format="99-999-99999" create="onMaskCreate" change="maskValueChange" focus-in="maskFocusIn" focus-out="maskFocusOut" watermark-text="99-999-99999" />
            </div>
        </div>
    </div>
}
<div id="target">
    <ul>
        <li>focusIn</li>
        <li>focusOut</li>
        <li>change</li>
    </ul>
</div>
@section EventsDropdown{
    <ej-drop-down-list id="selectControls_input" target-id="target" show-checkbox="true" check-all="true" change="evtpropscheckedevent" />
}
@section ScriptSection{

    <script type="text/javascript">
        function onNumericCreate(args) {
            jQuery.addEventLog("NumericTextbox has been <span class='eventTitle'>created</span>");
        }
        function onPercentageCreate(args) {
            jQuery.addEventLog("PercentageTextbox has been <span class='eventTitle'>created</span>");
        }
        function onCurrencyCreate(args) {
            jQuery.addEventLog("CurrencyTextbox has been <span class='eventTitle'>created</span>");
        }
        function onMaskCreate(args) {
            jQuery.addEventLog("MaskEditTextbox has been <span class='eventTitle'>created</span>");
        }
        function numericValChange(args) {
            jQuery.addEventLog("NumericTextbox value has been <span class='eventTitle'>changed</span> to " + args.value + ".<br/>");
        }
        function percentValChange(args) {
            jQuery.addEventLog("PercentageTextbox value has been <span class='eventTitle'>changed</span> to " + args.value + ".<br/>");
        }
        function currencyValChange(args) {
            jQuery.addEventLog("CurrencyTextbox value has been <span class='eventTitle'>changed</span> to " + args.value + ".<br/>");
        }
        function maskValueChange(args) {
            jQuery.addEventLog("MaskEditTextbox value has been <span class='eventTitle'>changed</span> to " + args.value + ".<br/>");
        }
        function numericFocusIn(args) {
            jQuery.addEventLog("NumericTextbox is in <span class='eventTitle'>Focus</span>");
        }
        function numericFocusOut(args) {
            jQuery.addEventLog("NumericTextbox is out of <span class='eventTitle'>Focus</span>");
        }
        function percentFocusIn(args) {
            jQuery.addEventLog("PercentTextbox is in <span class='eventTitle'>Focus</span>");
        }
        function percentFocusOut(args) {
            jQuery.addEventLog("PercentTextbox is out of <span class='eventTitle'>Focus</span>");
        }
        function currencyFocusIn(args) {
            jQuery.addEventLog("CurrencyTextbox is in <span class='eventTitle'>Focus</span>");
        }
        function currencyFocusOut(args) {
            jQuery.addEventLog("CurrencyTextbox is out of <span class='eventTitle'>Focus</span>");
        }
        function maskFocusIn(args) {
            jQuery.addEventLog("MaskEditTextbox is in <span class='eventTitle'>Focus</span>");
        }
        function maskFocusOut(args) {
            jQuery.addEventLog("MaskEditTextbox is out of <span class='eventTitle'>Focus</span>");
        }
        function onClear() {
            jQuery.clearEventLog();
        }
        function evtpropscheckedevent(args) {
            var numericObj, percentObj, currencyObj, maskObj;
            numericObj = $("#numeric").data("ejNumericTextbox");
            percentObj = $("#percent").data("ejPercentageTextbox");
            currencyObj = $("#currency").data("ejCurrencyTextbox");
            maskObj = $("#maskedit").data("ejMaskEdit");
            if (args.isChecked) {
                switch (args.selectedText) {
                    case "change": numericObj.option(args.selectedText, "numericValChange");
                        percentObj.option(args.selectedText, "percentValChange");
                        currencyObj.option(args.selectedText, "currencyValChange");
                        maskObj.option(args.selectedText, "maskValueChange"); break;
                    case "focusIn": numericObj.option(args.selectedText, "numericFocusIn");
                        percentObj.option(args.selectedText, "percentFocusIn");
                        currencyObj.option(args.selectedText, "currencyFocusIn");
                        maskObj.option(args.selectedText, "maskFocusIn"); break;
                    case "focusOut": numericObj.option(args.selectedText, "numericFocusOut");
                        percentObj.option(args.selectedText, "percentFocusOut");
                        currencyObj.option(args.selectedText, "currencyFocusOut");
                        maskObj.option(args.selectedText, "maskFocusOut"); break;
                }

            }
            else {
                numericObj.option(args.selectedText, null);
                percentObj.option(args.selectedText, null);
                currencyObj.option(args.selectedText, null);
                maskObj.option(args.selectedText, null);
            }
        }
    </script>
}
@section StyleSection{

    <style>
        .frame {
            width: 40%;
        }

        .col-xs-6.col-sm-3 {
            padding: 5px;
        }
    </style>
}