@section MetaTags{
   <meta name="description" content="This example demonstrates how to enable the time options in a ASP.NET Core DatePicker">
}

@section SampleHeading{<span class="sampleName">DateRangePicker / DateTimeRange</span> }
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-date-range-picker id="DateRange" enable-time-picker="true" width="100%"></ej-date-range-picker>
        </div>
    </div>
}
@section StyleSection{
    <style>
        .control {
            width: 100%;
        }

        .frame {
            width: 50%;
        }

        .control .e-daterangewidget {
            width: 225px;
            margin: auto;
        }
    </style>
}