@section SampleHeading{
    <span class="sampleName">Menu / Context-Menu</span>}
@section ControlsSection{
    <div id="target" class="textarea">
        HTML is written in the form of HTML elements consisting of tags enclosed in angle
        brackets (like &lt;html&gt; ),within the web page content. HTML tags most commonly
        come in pairs like and ,although some tags, known as empty elements, are unpaired,
        for example &lt;img&gt;. The purpose of a web browser is to read HTML documents
        and compose them into visible or audible web pages. The browser does not display
        the HTML tags, but uses the tags to interpret the content of the page.
    </div>
    <ej-Menu id="docfile" menu-type="@MenuType.ContextMenu" open-on-click="true" context-menu-target="#target">
        <e-menu-items >
            <e-menu-item url="" text="Cut"></e-menu-item>
            <e-menu-item url="" text="Copy"></e-menu-item>
            <e-menu-item url="" text="Paste"></e-menu-item>
            <e-menu-item url="" text="Comments"></e-menu-item>
            <e-menu-item url="" text="Links"></e-menu-item>
            <e-menu-item url="" text="Clear Formatting"></e-menu-item>
</e-menu-items>
</ej-Menu>
    
}
@section StyleSection{
    <style type="text/css">
        .textarea {
            border: 1px solid;
            padding: 10px;
            position: relative;
            text-align: justify;
            width: 80%;
            color: gray;
        }
    </style>
}
