@section SampleHeading{
    <span class="sampleName">Menu / Data Binding - Remote Data</span>}
@section ControlsSection{

    <ej-Menu id="shipDetails">
        <e-menu-fields query="ej.Query().from('Categories').select('CategoryID,CategoryName').take(3)" id="CategoryID" text="CategoryName">
            <e-child table-name="Products" id="ProductID" parent-id="CategoryID" text="ProductName"> <e-datamanager url="//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/" cross-domain="true"></e-datamanager></e-child>
            <e-datamanager url="//js.syncfusion.com/demos/ejServices/Wcf/Northwind.svc/" cross-domain="true"></e-datamanager>
        </e-menu-fields>
    </ej-Menu>

}
