@section SampleHeading{
    <span class="sampleName">Menu / Default Functionalities</span>}
@section ControlsSection{
    <div class="imgframe">
        <ej-menu id="syncfusionProducts">
            <e-menu-items >
                <e-menu-item id="Products" text="Products">
                    <e-menu-child-items>
                        <e-menu-child-item text="ASP.NET" url=""></e-menu-child-item>
                        <e-menu-child-item text="ASP.NET MVC" url=""></e-menu-child-item>
                        <e-menu-child-item text="Mobile MVC" url=""></e-menu-child-item>
                        <e-menu-child-item text="Silverlight" url=""></e-menu-child-item>
                        <e-menu-child-item text="Windows Forms" url=""></e-menu-child-item>
                        <e-menu-child-item text="Windows Phone" url=""></e-menu-child-item>
                        <e-menu-child-item text="WinRT (XMAL)" url=""></e-menu-child-item>
                        <e-menu-child-item text="WPF" url=""></e-menu-child-item>
                        <e-menu-child-item text="Orubase Studio" url=""></e-menu-child-item>
                        <e-menu-child-item text="Metro Studio" url=""></e-menu-child-item>
                        <e-menu-child-item text="What's New" url=""></e-menu-child-item>
                    </e-menu-child-items>
                    <e-menu-child-items>
                        <e-menu-child-item text="ASP.NET" url=""></e-menu-child-item>
                        <e-menu-child-item text="ASP.NET MVC" url=""></e-menu-child-item>
                        <e-menu-child-item text="Mobile MVC" url=""></e-menu-child-item>
                        <e-menu-child-item text="Silverlight" url=""></e-menu-child-item>
                        <e-menu-child-item text="Windows Forms" url=""></e-menu-child-item>
                        <e-menu-child-item text="Windows Phone" url=""></e-menu-child-item>
                        <e-menu-child-item text="" url="ASP.NET MVC"></e-menu-child-item>
                        <e-menu-child-item text="" url="ASP.NET"></e-menu-child-item>

                    </e-menu-child-items>
                </e-menu-item>
                <e-menu-item text="Support" url="">
                    <e-menu-child-items>
                        <e-menu-child-item text="Direct-Trac Support" url=""></e-menu-child-item>
                        <e-menu-child-item text="Community Forums" url=""></e-menu-child-item>
                        <e-menu-child-item text="Knowledge Base" url=""></e-menu-child-item>
                        <e-menu-child-item text="Online Documentation" url=""></e-menu-child-item>
                        <e-menu-child-item text="Services" url=""></e-menu-child-item>
                    </e-menu-child-items>
                    <e-menu-child-items>
                        <e-menu-child-item text="Consulting" url=""></e-menu-child-item>
                        <e-menu-child-item text="Training" url=""></e-menu-child-item>
                    </e-menu-child-items>
                </e-menu-item>
                <e-menu-item text="Purchase" id="Purchase" url="">
                </e-menu-item>
                <e-menu-item text="Downloads" id="Downloads" url="">
                    <e-menu-child-items>
                        <e-menu-child-item text="Evaluation" url=""></e-menu-child-item>
                        <e-menu-child-item text="Free E-Books" url=""></e-menu-child-item>
                        <e-menu-child-item text="Metro Studio" url=""></e-menu-child-item>
                        <e-menu-child-item text="C" url=""></e-menu-child-item>
                        <e-menu-child-item text="Version History" url=""></e-menu-child-item>

                    </e-menu-child-items>
                </e-menu-item>
                <e-menu-item id="Resources" Text="Resources" Url="">
                    <e-menu-child-items>
                        <e-menu-child-item text="E-Books" url=""></e-menu-child-item>
                        <e-menu-child-item text="White Papers" url=""></e-menu-child-item>

                    </e-menu-child-items>
                </e-menu-item>
            </e-menu-items>
        </ej-menu>
</div>
}

@section StyleSection{
    <style type="text/css" class="cssStyles">
        .imgframe {
            background: url("../images/menu/menu-bg.png") no-repeat scroll 0 0 transparent;
            width: 66%;
            height: 213px;
            background-size: 100% 100%;
        }
    </style>
}
