@section SampleHeading{
    <span class="sampleName">ListView / CheckList</span>}
@section ControlsSection{
    <ej-list-view id="checklist" show-header="false" width="400" height="355" enable-check-mark="true" allow-scrolling="true">
        <e-list-view-items>
            <e-list-view-item text="Artwork"></e-list-view-item>
            <e-list-view-item text="Abstract"></e-list-view-item>
            <e-list-view-item text="2 Acrylic Mediums"></e-list-view-item>
            <e-list-view-item text="Creative Acrylic"></e-list-view-item>
            <e-list-view-item text="Modern Painting"></e-list-view-item>
            <e-list-view-item text="Canvas Art"></e-list-view-item>
            <e-list-view-item text="Black white"></e-list-view-item>
            <e-list-view-item text="Children"></e-list-view-item>
        </e-list-view-items>
    </ej-list-view>       
}