@section SampleHeading{
    <span class="sampleName">ListView / Data Binding Local</span>}
@model List<ListData>
@section ControlsSection{
    <ej-list-view id="locallistview" show-header="false" width="400" height="206" datasource="Model">
        <e-field-settings text="texts" />
    </ej-list-view>       
}