@section SampleHeading{
    <span class="sampleName">ListView / Data Binding Local</span>}
@section ControlsSection{
    <ej-list-view id="locallistview" show-header="true" header-title="Favorite" header-back-button-text="Back" show-header-back-button="true" width="400" height="300" mouse-down="onmousedown">
        <e-list-view-items>
            <e-list-view-item text="Discover Music">
                <e-list-view-child-items>
                    <e-list-view-child-item text="Hot Singles"></e-list-view-child-item>
                    <e-list-view-child-item text="Rising Artists"></e-list-view-child-item>
                    <e-list-view-child-item text="Live Music"></e-list-view-child-item>
                    <e-list-view-child-item text="Best of 2013 So Far"></e-list-view-child-item>
                </e-list-view-child-items>
            </e-list-view-item>
            <e-list-view-item text="Sales and Events">
                <e-list-view-child-items>
                    <e-list-view-child-item text="100 Albums - $5 Each"></e-list-view-child-item>
                    <e-list-view-child-item text="Hip-Hop and R&B Sale"></e-list-view-child-item>
                    <e-list-view-child-item text="Live Music"></e-list-view-child-item>
                </e-list-view-child-items>
            </e-list-view-item>
            <e-list-view-item text="Categories">
                <e-list-view-child-items>
                    <e-list-view-child-item text="Songs"></e-list-view-child-item>
                    <e-list-view-child-item text="BestSelling Albums"></e-list-view-child-item>
                    <e-list-view-child-item text="New Releases"></e-list-view-child-item>
                    <e-list-view-child-item text="Bestselling Songs"></e-list-view-child-item>
                </e-list-view-child-items>
            </e-list-view-item>
            <e-list-view-item text="Mp3 Albums">
                <e-list-view-child-items>
                    <e-list-view-child-item text="Rock"></e-list-view-child-item>
                    <e-list-view-child-item text="Gospel"></e-list-view-child-item>
                    <e-list-view-child-item text="Latin Music"></e-list-view-child-item>
                    <e-list-view-child-item text="Jazz"></e-list-view-child-item>
                </e-list-view-child-items>
            </e-list-view-item>
            <e-list-view-item text="More in Music">
                <e-list-view-child-items>
                    <e-list-view-child-item text="Music Trade-In"></e-list-view-child-item>
                    <e-list-view-child-item text="Redeem a Gift Card"></e-list-view-child-item>
                    <e-list-view-child-item text="Branded T-shirts"></e-list-view-child-item>
                </e-list-view-child-items>
            </e-list-view-item>
        </e-list-view-items>
    </ej-list-view>
}
@section ScriptSection{

    <script>

        function onmousedown(args) {
            var listObj = $("#locallistview").ejListView("instance");
            listObj.model.headerBackButtonText = args.text;
        }

    </script>

}