@section SampleHeading{
    <span class="sampleName">ListView / Virtual Scrolling</span>}
@section ControlsSection{
    <div class="control frame">
        <div class="ctrllabel">
            Select a customer
        </div>

        <ej-list-view id="List1" height="200" width="250" allow-virtual-scrolling="true" virtual-scroll-mode="Normal" item-request-count="8">
        </ej-list-view>

    </div>
}
@section PropertiesSection{
    <div class="row">
        <div class="col-md-3">Select Mode</div>
        <div class="col-md-3">
            <ej-drop-down-list id="dropdown" width="120px" selected-item-index="0" change="onValueChange" target-id="Targetid"></ej-drop-down-list>

            <div id="Targetid">
                <ul>
                    <li value="Normal">Normal Mode</li>
                    <li value="Continuous">Continuous Mode</li>
                </ul>
            </div>
        </div>
    </div>

}
@section StyleSection{
    <style type="text/css" class="cssStyles">
        .ctrllabel {
            padding: 0px 0px 12px 3px;
            font-weight: 600;
        }

        .e-ddl-popup {
            margin: 0 auto;
        }
    </style>
}
@section ScriptSection{
    <script type="text/javascript">
        dataManger = ej.DataManager({
            url: "//js.syncfusion.com/ejServices/Wcf/Northwind.svc/", crossDomain: true
        });

        var query = ej.Query()
               .from("Customers");
        $(function () {
            $("#List1").ejListView({
                height:200,
                dataSource: dataManger,
                totalItemsCount: 10,
                fieldSetting: { text: "CustomerID" },
                query: query, allowVirtualScrolling: true
                     });
                 })
        $("#List1").ejListView({
            height: 200,
            dataSource: dataManger,
            fieldSettings: { text: "CustomerID" },
            query: query, allowVirtualScrolling: true
        });
        function onValueChange(args) {
            var target = $('#List1').data("ejListView");
            if (args.value == "Continuous") {
                $("#List1").ejListView({
                    height: 200,
                    dataSource: dataManger,
                    fieldSettings: { text: "CustomerID" },
                    query: query, allowVirtualScrolling: true, virtualScrollMode: ej.VirtualScrollMode.Continuous

                });
            }
            if (args.value == "Normal") {
                $("#List1").ejListView({
                    dataSource: dataManger,
                    fieldSettings: { text: "CustomerID" },
                    query:  ej.Query()
               .from("Customers"), allowVirtualScrolling: true
                });
            }
        }
        $(function () {
            $("#sampleProperties").ejPropertiesPanel();
        });
    </script>
}