@using Syncfusion.JavaScript
@using Syncfusion.JavaScript.DataVisualization

@section SampleHeading{<span class="sampleName">Chart / Column Chart </span>}

@section ControlsSection{
    <div>
        <ej-chart id="container" can-resize="true" load="loadTheme">
            <e-primary-x-axis>
                <e-title text="Countries"></e-title>
            </e-primary-x-axis>
            <e-primary-y-axis>
                <e-range max="80" min="20" interval="20"></e-range>
                <e-title text="Medals"></e-title>
            </e-primary-y-axis>
            <e-title text="Olympic Medals"></e-title>
            <e-size height="600"></e-size>
            <e-legend visible="true" position="@LegendPosition.Top"></e-legend>
            <e-common-series-options type="@SeriesType.Column" enable-animation="true">
                <e-chart-tooltip visible="true" format="#point.x# #point.y# #series.name# Medals"></e-chart-tooltip>
            </e-common-series-options>
            <e-chart-series>
                <e-series name="Gold">
                    <e-points>
                        <e-point x="USA" y="50"></e-point>
                        <e-point x="China" y="40"></e-point>
                        <e-point x="Japan" y="70"></e-point>
                        <e-point x="Australia" y="60"></e-point>
                        <e-point x="France" y="50"></e-point>
                        <e-point x="Germany" y="40"></e-point>
                        <e-point x="Italy" y="40"></e-point>
                        <e-point x="Gold" y="30"></e-point>
                    </e-points>
                </e-series>
                <e-series name="Silver">
                    <e-points>
                        <e-point x="USA" y="50"></e-point>
                        <e-point x="China" y="40"></e-point>
                        <e-point x="Japan" y="70"></e-point>
                        <e-point x="Australia" y="56"></e-point>
                        <e-point x="France" y="45"></e-point>
                        <e-point x="Germany" y="30"></e-point>
                        <e-point x="Italy" y="35"></e-point>
                        <e-point x="Gold" y="25"></e-point>
                    </e-points>
                </e-series>
                <e-series name="Bronze">
                    <e-points>
                        <e-point x="USA" y="45"></e-point>
                        <e-point x="China" y="55"></e-point>
                        <e-point x="Japan" y="50"></e-point>
                        <e-point x="Australia" y="40"></e-point>
                        <e-point x="France" y="35"></e-point>
                        <e-point x="Germany" y="22"></e-point>
                        <e-point x="Italy" y="37"></e-point>
                        <e-point x="Gold" y="27"></e-point>
                    </e-points>
                </e-series>
            </e-chart-series>

        </ej-chart>
        <script>
            $("#controlarea").css("visibility", "visible");
        </script>
    </div>
}


