@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{<span class="sampleName">Chart / Pie Chart </span>}

@section ControlsSection{
    <div>
        <ej-chart id="container" can-resize="true" load="loadTheme" series-rendering="seriesRender">
            <e-title text="Expenditures"></e-title>
            <e-size height="600"></e-size>
            <e-legend visible="false"></e-legend>
            <e-common-series-options enable-animation="true"></e-common-series-options>
            <e-chart-series>
                <e-series label-position="@ChartLabelPosition.OutsideExtended" name="Expenses" type="@SeriesType.Pie" enable-smart-labels="true" start-angle="145">
                    <e-points>
                        <e-point x="Other Personal" y="94658" text="Other Personal, 88.47%"></e-point>
                        <e-point x="Medical care" y="9090" text="Medical care, 8.49%"></e-point>
                        <e-point x="Housing" y="2577" text="Housing, 2.40%"></e-point>
                        <e-point x="Transportation" y="473" text="Transportation, 0.44%"></e-point>
                        <e-point x="Education" y="120" text="Education, 0.11%"></e-point>
                        <e-point x="Electronics" y="70" text="Electronics, 0.06%"></e-point>
                    </e-points>
                    <e-border width="2" color="white"></e-border>
                    <e-marker>
                        <e-data-label visible="true" shape="@ChartShape.None">
                            <e-font size="14px"></e-font>
                            <e-connector-line color="Black" height="60" type="@ConnectorType.Bezier"></e-connector-line>
                        </e-data-label>
                    </e-marker>
                </e-series>
            </e-chart-series>
        </ej-chart>
            <script>
                function seriesRender(sender) {
                    if (sender.model.theme == "flatdark" || sender.model.theme == "gradientdark")
                        sender.data.series.marker.dataLabel.connectorLine.color = "white";
                    else
                        sender.data.series.marker.dataLabel.connectorLine.color = "black";
                }
                $("#controlarea").css("visibility", "visible");
            </script>
</div>
}

