@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{<span class="sampleName">Chart / 3D Pie Chart</span>}

@section ControlsSection{
    <div>
        <ej-chart id="container" enable3d="true" depth="30" wall-size="10" tilt="-30" rotation="-30" perspective-angle="90" side-by-side-series-placement="true" enable-rotation="true" can-resize="true" load="onchartload" >
            <e-size height="600" width="970"></e-size>
            <e-legend visible="false"></e-legend>
            <e-title text="Expenditure shares on a child from birth through age 17"></e-title>
            <e-common-series-options label-position="@ChartLabelPosition.Outside">
                <e-chart-tooltip visible="true" format="#point.x# : #point.y#%"></e-chart-tooltip>
                <e-marker>
                    <e-data-label shape="@ChartShape.None" visible="true" text-position="@TextPosition.Top">
                        <e-connector-line height="70" color="black"></e-connector-line>
                        <e-border width="1"></e-border>
                    </e-data-label>
                </e-marker>
            </e-common-series-options>
            <e-chart-series>
                <e-series type="@SeriesType.Pie" explode-index="0" pie-coefficient="0.7f" start-angle="145">
                    <e-points>
                        <e-point x="Housing" text="Housing" y="31"></e-point>
                        <e-point x="Food" text="Food" y="16"></e-point>
                        <e-point x="Transportation" text="Transportation" y="14"></e-point>
                        <e-point x="Clothing" text="Clothing" y="6"></e-point>
                        <e-point x="Health care" text="Health care" y="8"></e-point>
                        <e-point x="Education" text="Education" y="17"></e-point>
                        <e-point x="Miscellaneous" text="Miscellaneous" y="8"></e-point>
                    </e-points>
                    <e-border color="white" width="2"></e-border>
                </e-series>
            </e-chart-series>
        </ej-chart>
</div>
}
@section ScriptSection
{
    <script>
        function onchartload(sender) {
            loadTheme(sender);
            if (sender.model.theme == "flatdark" || sender.model.theme == "gradientdark")
                sender.model.commonSeriesOptions.marker.dataLabel.connectorLine.stroke = "white";
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}