@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.DataVisualization;

@section SampleHeading{<span class="sampleName">Chart / 3D Stacking Column Chart</span>}

@section ControlsSection{
    <div>
        <ej-chart id="container" can-resize="true" load="onchartload" enable3d="true" depth="100" wall-size="2" tilt="0" rotation="34" perspective-angle="90" side-by-side-series-placement="true" enable-rotation="true ">
            <e-size height="600" width="970"></e-size>
            <e-legend visible="true"></e-legend>
            <e-title text="Passenger Car Sales"></e-title>
            <e-primary-x-axis>
                <e-range max="2013" min="2005" interval="1"></e-range>
                <e-axis-line visible="false"></e-axis-line>
                <e-major-grid-lines visible="true" color="#a9a9a9" opacity="0.12"></e-major-grid-lines>
            </e-primary-x-axis>
            <e-primary-y-axis>
                <e-title text="Millions"></e-title>
                <e-major-grid-lines visible="true" color="#a9a9a9" opacity="0.12"></e-major-grid-lines>
            </e-primary-y-axis>
            <e-common-series-options type="@SeriesType.StackingColumn">
                <e-chart-tooltip visible="true" format="#series.name#  <br/> Year #point.x# : #point.y# Millions"></e-chart-tooltip>
            </e-common-series-options>
            <e-chart-series>
                <e-series name="India" stacking-group="Asia Continent">
                    <e-points>
                        <e-point x="2006" y="8"></e-point>
                        <e-point x="2007" y="5"></e-point>
                        <e-point x="2008" y="4"></e-point>
                        <e-point x="2009" y="12"></e-point>
                        <e-point x="2010" y="16"></e-point>
                        <e-point x="2011" y="6"></e-point>
                        <e-point x="2012" y="13"></e-point>
                    </e-points>
                </e-series>
                <e-series name="China" stacking-group="Asia Continent">
                    <e-points>
                        <e-point x="2006" y="5"></e-point>
                        <e-point x="2007" y="6"></e-point>
                        <e-point x="2008" y="7"></e-point>
                        <e-point x="2009" y="10"></e-point>
                        <e-point x="2010" y="14"></e-point>
                        <e-point x="2011" y="14"></e-point>
                        <e-point x="2012" y="15"></e-point>
                    </e-points>
                </e-series>
                <e-series name="Canada" stacking-group="North America Continent">
                    <e-points>
                        <e-point x="2006" y="14"></e-point>
                        <e-point x="2007" y="14"></e-point>
                        <e-point x="2008" y="13"></e-point>
                        <e-point x="2009" y="13"></e-point>
                        <e-point x="2010" y="13"></e-point>
                        <e-point x="2011" y="13"></e-point>
                        <e-point x="2012" y="12"></e-point>
                    </e-points>
                </e-series>
                <e-series name="USA" stacking-group="North America Continent">
                    <e-points>
                        <e-point x="2006" y="17"></e-point>
                        <e-point x="2007" y="16"></e-point>
                        <e-point x="2008" y="13"></e-point>
                        <e-point x="2009" y="10"></e-point>
                        <e-point x="2010" y="12"></e-point>
                        <e-point x="2011" y="13"></e-point>
                        <e-point x="2012" y="14"></e-point>
                    </e-points>
                </e-series>
            </e-chart-series>
        </ej-chart>
</div>
}
@section ScriptSection
{
    <script>
        function onchartload(sender) {
            loadTheme(sender);
            sender.model.primaryXAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryXAxis.majorGridLines.opacity = 0.12;
            sender.model.primaryYAxis.majorGridLines.color = "#a9a9a9";
            sender.model.primaryYAxis.majorGridLines.opacity = 0.12;
        }
        $("#controlarea").css("visibility", "visible");
    </script>
}