@section SampleHeading{
    <span class="sampleName">Settings / Document Settings Sample</span>
}

@section ControlsSection{

    @{Html.BeginForm("DocumentSettings", "Pdf", FormMethod.Post);
        {
            <div class="Common">
                <div class="tablediv" style="font-size: 17px;font-weight: 400;">
                    This sample demonstrates adding PDF document properties such as title, author, keyword, subject, and producer etc.
                </div>
                <br />
                <div class="tablediv">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <div>
                                <input type="submit" class="Button" value="Generate PDF" style="width: 150px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div style="font-size: 17px;font-weight: 400;">

                    It is also possible to add advance XMP metadata properties such as basic schema, custom schema, Dublin core schema, rights management schema, basic job schema and more.
                    More information about the document settings can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-document#working-with-document-properties">section.</a>

                </div>
            </div>
            Html.EndForm();
        }
    }
}
