@section SampleHeading{
    <span class="sampleName">Graphics / Drawing Shapes Sample</span>
}

@section ControlsSection{
    @{Html.BeginForm("DrawingShapes", "Pdf", FormMethod.Post);
        {
            <div class="Common">
                <div class="tablediv" style = "font-size: 17px;font-weight: 400;">
                    This sample demonstrates drawing of <a href="https://help.syncfusion.com/file-formats/pdf/working-with-shapes">shapes</a>
                    such as Ellipse, Arcs, Polygon, Pie, and Rectangle in the PDF document with gradient and <a href="https://help.syncfusion.com/file-formats/pdf/working-with-colorspace">color spaces.</a>
                </div>
                <br />
                <div class="tablediv">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <div>
                                <input type="submit" class="Button" value="Generate PDF" style="width: 150px;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            Html.EndForm();
        }
    }
}
