@section SampleHeading{
    <span class="sampleName">DrawingText/OpenTypeFont Support Sample</span>
}

@section ControlsSection
{
    @{Html.BeginForm("OpenTypeFont", "Pdf", FormMethod.Post);
        {
            <div class="Common">
                <div class="tablediv" style="font-size: 17px;font-weight: 400;">
                    This sample demonstrates drawing text with open type font in a PDF document. It is possible to draw any text with use of open type font such as Arabic, Thai and more.
                </div>
                <br />
                <div class="tablediv">
                    <div class="rowdiv">
                        <div class="celldiv">
                            <div>
                                <input type="submit" class="Button" value="Generate PDF" style="width: 150px;" />
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            Html.EndForm();
        }
    }
}