@section SampleHeading{
    <span class="sampleName">PDF / TIFF to PDF</span>
}

@section ControlsSection{
    @{Html.BeginForm("TiffToPDF", "Pdf", FormMethod.Post);
        {
            <div class="Common">
                <div class="tablediv" style="font-size: 17px;font-weight: 400;">
                    This sample demonstrates how to convert single or multi frame TIFF images to PDF.
                </div>
                <br />
                <div class="tablediv">
                    <div class="rowdiv">
						<div class="celldiv">
                            <div>
                                <input type="submit" name="submit1" class="Button" value="View TIFF image" style="width: 150px;" />
                            </div>
                        </div>
						<br />
                        <div class="celldiv">
                            <div>
                                <input type="submit" class="Button" name="submit" value="Generate PDF" style="width: 150px;" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div style="font-size: 17px;font-weight: 400;">

                    More information about TIFF to PDF document can be found in this documentation <a href="https://help.syncfusion.com/file-formats/pdf/working-with-document-conversions#converting-tiff-to-pdf">section.</a>

                </div>
            </div>
            Html.EndForm();
        }
    }
}