@section SampleHeading{
    <span class="sampleName">PDF /ZUGFeRD Sample</span>

}


@section ControlsSection

    {
     @{Html.BeginForm("Zugferd", "Pdf", FormMethod.Post);
        {
        <div class="Common">
            <div class="tablediv" style="font-size: 17px;font-weight: 400;">
                This sample demonstrates how to create ZUGFeRD PDF invoice using Essential PDF.
            </div>
            <br />
            <div class="tablediv">
                <div class="rowdiv">
                    <div class="celldiv">
                        <div>
                            <input type="submit" class="Button" value="Generate PDF" style="width: 150px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
            Html.EndForm();
        }
    }

}
