@section SampleHeading{ <span class="sampleName">RadialSlider / Default Functionalities</span>}

@section ControlsSection{
<ej-radial-slider id="radialslider" inner-circle-image-url="@Url.Content("~/images/radialslider/chevron-right.png")" />
    }
<style>
    .cols-sample-area {
        overflow-x: auto;
        overflow-y: hidden;       
    }    
</style>