@using Syncfusion.JavaScript.DataVisualization


@section SampleHeading{<span class="sampleName">XlsIO / WorksheetToHTML</span>}

 @section ControlsSection{                                
         @{ViewBag.Title = "    Essential XlsIO (Excel) : Worksheet To HTML : Syncfusion";}

@{Html.BeginForm("WorksheetToHTML", "XlsIO", FormMethod.Post);
{
    <div class="Common">
        <div class="tablediv">
            <div class="rowdiv">
                <label>
                    Click the convert button below to view the converted HTML document using Essential XlsIO.
                </label>
            </div>
            <br />
            <div class="rowdiv">
                <div class="celldiv">
                    <label>
                        <strong>Convert Type: </strong>
                    </label>
                    &nbsp;
                    <input type="radio" id="rdButtonPng" name="Group1" value="Workbook" checked="checked" />
                    <label for="rdButtonPng">
                        Workbook
                    </label>
                    &nbsp;
                    <input type="radio" id="rdButtonJpeg" name="Group1" value="Worksheet" />
                    <label for="rdButtonJpeg">
                        Worksheet
                    </label>
                </div>
                <br />

                <div class="celldiv">
                    <input id="viewtemplate" class="buttonStyle" type="submit" name="button" value="Input Template" style="width:125px;"/>
                    <input class="buttonStyle" type="submit" value="Convert" style="width:125px;" />
                </div>
            </div>
        </div>
    </div>
    Html.EndForm();
} }               
              }