@section SampleHeading{
    <span class="sampleName">Dropdownlist / Cascading</span>}
@section ControlsSection{
    <div class="frame">
       <div class="row">
                    <div class="col-xs-8 col-sm-4">
            <span class="txt">Select Group</span>
                        <ej-drop-down-list id="groupsList" datasource="(IEnumerable<groups>)ViewBag.datasource" cascade-to="countryList" change="onChange" watermark-text="Select">
                            <e-drop-down-list-fields value="parentId" text="text" />

                        </ej-drop-down-list>
            @*@{Html.EJ().DropDownList("groupsList").Datasource((IEnumerable<groups>)ViewBag.datasource).DropDownListFields(f => f.Value("parentId").Text("text")).CascadeTo("countryList").ClientSideEvents(e => e.Change("onChange")).WatermarkText("Select")
     .Render();
            }*@
                    </div>
                    <div class="col-xs-8 col-sm-4" >
            <span class="txt">Select Country</span>
                        <ej-drop-down-list id="countryList" datasource="(IEnumerable<Countries>)ViewBag.datasource1" enabled="false"></ej-drop-down-list>
            @*@{Html.EJ().DropDownList("countryList").Datasource((IEnumerable<Countries>)ViewBag.datasource1).Enabled(false)
                .Render();
            }*@
                    </div>
        </div>
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        function onChange() {
            var ctry = $('#countryList').data("ejDropDownList");
            ctry.element.val("");
        }
    </script>
}
@section StyleSection{
    <style class="cssStyles">
        .frame {
            height: 55px;
            width: 50%;
        }

        .txt {
            display: block;
            margin-bottom: 12px;
        }
    </style>
}
