@section SampleHeading{
    <span class="sampleName">Dropdownlist / Grouping</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-drop-down-list id="vegetable" width="100%" watermark-text="Select a vegetable" datasource="(IEnumerable<VegetableCollection>)ViewBag.datasource">
                <e-drop-down-list-fields  text="Veg" group-by="Group"/>
            </ej-drop-down-list>
            
                    </div>
    </div>

}
