@section SampleHeading{
    <span class="sampleName">Dropdownlist / Rtl</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-drop-down-list id="skillsets" datasource="(IEnumerable<Languages>)ViewBag.datasource" enable-rtl="true" watermark-text="Select a langauge" width="150">
                <e-drop-down-list-fields  text="skill"/>
            </ej-drop-down-list>
            
                    </div>
    </div>
}

