@section ScriptReferenceSection{
    <script src="@Url.Content("~/Scripts/cultures/ej.culture.en-US.min.js")"></script>
}
@section SampleHeading{<span class="sampleName">DatePicker / Rtl</span> }
@section ControlsSection{
    <div class="frame ">
          <div class="control" style="margin-left:35px;">
            <ej-date-picker id="DatePick" enable-rtl="true"></ej-date-picker>
        </div>
    </div>
}
