.imgframe {
    background: url("../../Images/progressbar/water.png") no-repeat scroll 0 0 transparent;
    height: 185px;
    padding: 60px;
    width: 480px;
    margin: 0 auto;
}

.txt {
    color: #676767;
    display: block;
    font-size: 21px;
    margin-bottom: 12px;
}
