    .frame {
        width: 700px;
    }

    #sliderContent > li {
        background-color: #9ee8d8;
    }

    #sliderContent > li .leftPanel {
        float: left;
        width: 700px;
        height: 300px;
        padding-right: 0px;
    }

     #sliderContent > li .leftPanel img {
         width: 700px;
         height: 300px;
      }

    #sliderContent .rightPanel {
        background-color: #FFFFFF;
        height: 259px;
        margin-left: 410px;
        margin-top: 21px;
        opacity: 0.5;
        padding-left: 10px;
        position: absolute;
        width: 260px;
    }

    #sliderContent .rightPanel.credit {
        opacity: 0.6;
    }

    #sliderContent .rightPanel.blck {
        background-color: black;
    }

     #sliderContent .rightPanel.blck li {
         color: white;
         list-style: none;
         line-height: 2;
     }
    #sliderContent .rightPanel.blck .contentPanel {
            padding-top: 30px;
            color: white;
    }
    #sliderContent .rightPanel .contentPanel {
        color: #000000;
        font-size: large;
        font-weight: bold;
        left: 16px;
        padding-top: 30px;
        position: relative;
    }

    #sliderContent .rightPanel li {
        color: black;
        list-style: none;
        line-height: 2;
    }

    #sliderContent .rightPanel.rightSide {
        margin-left: 20px;
        background-color: black;
    }

     #sliderContent .rightPanel.rightSide li {
         color: white;
         list-style: none;
         line-height: 2;
     }

     #sliderContent .rightPanel.rightSide .contentPanel {
         padding-top: 30px;
         color: white;
      }

.rightPanel > ul {
    padding: 6px 17px 17px;
}
