.flagsimage {
    background-image: url("../../Images/tab/flags.png");
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 0;
    line-height: 0;
    text-indent: -3333px;
    text-align: center;
    vertical-align: middle;
    margin-right: -9px;
    margin-left: 9px;
}

.sprite-Australia {
    background-position: 0 -2px;
    width: 16px;
    height: 16px;
}

.sprite-Germany {
    background-position: 0 -398px;
    width: 16px;
    height: 16px;
}

.sprite-India {
    background-position: -3px -462px;
    width: 16px;
    height: 15px;
    margin-top: -2px;
}

.sprite-UK {
    background-position: -2px -1058px;
    width: 16px;
    height: 13px;
}

.sprite-USA {
    background-position: 0 -1121px;
    width: 16px;
    height: 16px;
}
.sprite-France {
    background-position: 0px -331px;
    width: 16px;
    height: 13px;
}