@using Syncfusion.JavaScript;
@using Syncfusion.JavaScript.Models;
@section SampleHeading{<span class="sampleName"> TreeGrid/Default</span>}
@section ControlsSection{
   <ej-tree-grid id="TreeGridContainer" datasource="ViewBag.datasource" child-mapping="Children" tree-column-index="1"
              allow-filtering="true" allow-sorting="true" begin-edit="BeginEdit" is-responsive="true">
    <e-tree-grid-columns>
        <e-tree-grid-column field="TaskId" header-text="Task Id" allow-filtering="false" edit-type="Numeric" width=45 />
        <e-tree-grid-column field="TaskName" header-text="Task Name" edit-type="String" filter-edit-type="String" />
        <e-tree-grid-column field="FilterStartDate" header-text="Start Date" edit-type="DateTimePicker" filter-edit-type="DateTimePicker" format= "{0:MM/dd/yyyy hh:mm tt}" />
        <e-tree-grid-column field="FilterEndDate" header-text="End Date" edit-type="DateTimePicker" filter-edit-type="DateTimePicker" format= "{0:MM/dd/yyyy hh:mm tt}"/>
        <e-tree-grid-column field="Priority" header-text="Priority" edit-type="Dropdown" drop-down-data="(IEnumerable<object>)ViewBag.dropData" />
        <e-tree-grid-column field="Progress" header-text="Progress" edit-type="Numeric" filter-edit-type="Numeric" />
        <e-tree-grid-column field="InProgress" header-text="InProgress" is-template-column="true" template-id="customColumnTemplate"
                            filter-edit-type="Dropdown" drop-down-data="(IEnumerable<object>)ViewBag.stateData" allow-filtering-blank-content="false" />
    </e-tree-grid-columns>
    <e-tree-grid-size-settings width="100%" height="350px" />
    <e-tree-grid-edit-settings allow-deleting="true" allow-adding="true" allow-editing="true" edit-mode="CellEditing" />
</ej-tree-grid>
}


<script type="text/x-jsrender" id="customColumnTemplate">
    <div style="margin-left:20px;">{{if InProgress}} <input class="customCheckbox" type="checkbox" checked="checked" onclick="checkUncheck(event); return true;" value="" />{{else}} <input class="customCheckbox" type="checkbox" onclick="checkUncheck(event); return true;" value="" />{{/if}}</div>
</script>

@section ScriptSection{ 
    <script type="text/javascript">
        function BeginEdit(args) {
            if (args.columnIndex == 6)
                args.cancel = true;
        }
        function checkUncheck(e) {
            var $tr = $(e.target).closest('tr'),
                ganttObj = $("#TreeGridContainer").data("ejTreeGrid"),
                checkStatus = $(e.target).is(':checked'),
                 rowIndex = ($tr).index(),
                 record = ganttObj.model.currentViewData && ganttObj.model.currentViewData[rowIndex];
            record["InProgress"] = checkStatus;

        }
    </script>
}