@using Syncfusion.JavaScript;
@section SampleHeading{<span class="sampleName">PivotGauge / Default</span> }
@section ControlsSection{
<ej-pivot-gauge id="PivotGauge1" is-responsive="true" enable-tooltip="true" background-color="transparent" render-success="loadPivotGaugeTheme" load="onload">
    <e-data-source>
        <e-pivot-rows>
            <e-row-field field-name="Product" field-caption="Product"></e-row-field>
            <e-row-field field-name="Date" field-caption="Date"></e-row-field>
        </e-pivot-rows>
        <e-pivot-columns>
            <e-column-field field-name="Country" field-caption="Country"></e-column-field>
        </e-pivot-columns>
        <e-pivot-values>
            <e-value-field field-name="Amount" field-caption="Amount"></e-value-field>
            <e-value-field field-name="Quantity" field-caption="Quantity"></e-value-field>
        </e-pivot-values>
    </e-data-source>
    <e-scales>
        <e-circular-scales show-ranges="true" radius="150" show-scale-bar="true" size="1" show-indicators="true" show-labels="true">
            <e-border width="0.5"></e-border>
            <e-pointer-collections>
                <e-pointers show-back-needle="true" back-needle-length="20" length="125" width="7"></e-pointers>
                <e-pointers type="Marker" marker-type="Diamond" distance-from-scale="5" placement="Center" background-color="#29A4D9" length="25" width="15"></e-pointers>
            </e-pointer-collections>
            <e-tick-collections>
                <e-ticks type="Major" distance-from-scale="2" height="16" width="1" color="#8c8c8c"></e-ticks>
                <e-ticks type="Minor" height="6" width="1" distance-from-scale="2" color="#8c8c8c"></e-ticks>
            </e-tick-collections>
            <e-circular-range-collections>
                <e-circular-ranges distance-from-scale="-5" background-color="#fc0606">
                    <e-border color="#fc0606"></e-border>
                </e-circular-ranges>
                <e-circular-ranges distance-from-scale="-5"></e-circular-ranges>
            </e-circular-range-collections>
            <e-custom-label-collections>
                <e-circular-custom-labels color="#666666">
                    <e-custom-position x="180" y="290"></e-custom-position>
                    <e-custom-font size="10px" font-family="Segoe U" font-style="Normal"></e-custom-font>
                </e-circular-custom-labels>
                <e-circular-custom-labels color="#666666">
                    <e-custom-position x="180" y="320"></e-custom-position>
                    <e-custom-font size="10px" font-family="Segoe U" font-style="Normal"></e-custom-font>
                </e-circular-custom-labels>
                <e-circular-custom-labels color="#666666">
                    <e-custom-position x="180" y="150"></e-custom-position>
                    <e-custom-font size="10px" font-family="Segoe U" font-style="Normal"></e-custom-font>
                </e-circular-custom-labels>
            </e-custom-label-collections>
        </e-circular-scales>
    </e-scales>
    <e-label-format-settings decimal-places="2"></e-label-format-settings>
</ej-pivot-gauge>
}
@section ScriptSection{
    <script type="text/javascript">
        function onload(args) {
            args.model.dataSource.data = [
                                        { Amount: 100, Country: "Canada", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Alberta" },
                                        { Amount: 200, Country: "Canada", Date: "FY 2006", Product: "Van", Quantity: 3, State: "British Columbia" },
                                        { Amount: 300, Country: "Canada", Date: "FY 2007", Product: "Car", Quantity: 4, State: "Brunswick" },
                                        { Amount: 150, Country: "Canada", Date: "FY 2008", Product: "Bike", Quantity: 3, State: "Manitoba" },
                                        { Amount: 200, Country: "Canada", Date: "FY 2006", Product: "Car", Quantity: 4, State: "Ontario" },
                                        { Amount: 100, Country: "Canada", Date: "FY 2007", Product: "Van", Quantity: 1, State: "Quebec" },
                                        { Amount: 200, Country: "France", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Charente-Maritime" },
                                        { Amount: 250, Country: "France", Date: "FY 2006", Product: "Van", Quantity: 4, State: "Essonne" },
                                        { Amount: 300, Country: "France", Date: "FY 2007", Product: "Car", Quantity: 3, State: "Garonne (Haute)" },
                                        { Amount: 150, Country: "France", Date: "FY 2008", Product: "Van", Quantity: 2, State: "Gers" },
                                        { Amount: 200, Country: "Germany", Date: "FY 2006", Product: "Van", Quantity: 3, State: "Bayern" },
                                        { Amount: 250, Country: "Germany", Date: "FY 2007", Product: "Car", Quantity: 3, State: "Brandenburg" },
                                        { Amount: 150, Country: "Germany", Date: "FY 2008", Product: "Car", Quantity: 4, State: "Hamburg" },
                                        { Amount: 200, Country: "Germany", Date: "FY 2008", Product: "Bike", Quantity: 4, State: "Hessen" },
                                        { Amount: 150, Country: "Germany", Date: "FY 2007", Product: "Van", Quantity: 3, State: "Nordrhein-Westfalen" },
                                        { Amount: 100, Country: "Germany", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Saarland" },
                                        { Amount: 150, Country: "United Kingdom", Date: "FY 2008", Product: "Bike", Quantity: 5, State: "England" },
                                        { Amount: 250, Country: "United States", Date: "FY 2007", Product: "Car", Quantity: 4, State: "Alabama" },
                                        { Amount: 200, Country: "United States", Date: "FY 2005", Product: "Van", Quantity: 4, State: "California" },
                                        { Amount: 100, Country: "United States", Date: "FY 2006", Product: "Bike", Quantity: 2, State: "Colorado" },
                                        { Amount: 150, Country: "United States", Date: "FY 2008", Product: "Car", Quantity: 3, State: "New Mexico" },
                                        { Amount: 200, Country: "United States", Date: "FY 2005", Product: "Bike", Quantity: 4, State: "New York" },
                                        { Amount: 250, Country: "United States", Date: "FY 2008", Product: "Car", Quantity: 3, State: "North Carolina" },
                                        { Amount: 300, Country: "United States", Date: "FY 2007", Product: "Van", Quantity: 4, State: "South Carolina" }
            ];
        }
    </script>
}
@section StyleSection{
    <style>
        #PivotGauge1 {
            height:300px;
            width:100%;
            float:left;
            overflow:auto;
        } 
    </style>
}
