@section SampleHeading{<span class="sampleName">TreeView / Checkbox</span> }
@section ControlsSection{
    <div style="width: 250px">
        <ej-tree-view id="tree" show-checkbox="true">
            <e-tree-view-items>
                <e-tree-view-item text="Cricket" expanded="true">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="Princeton Club"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Harverd Club"></e-tree-view-child-item>
                        <e-tree-view-child-item text="st.Columbia Club"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Dartmouth Club"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Middlebury Club"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
                <e-tree-view-item text="Basketball">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="AGE Halkida"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Iraklio"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Sporting Athens"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Pagrati Athens"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Lodon colney"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
                <e-tree-view-item text="Football">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="A.F.C Blackpool"></e-tree-view-child-item>
                        <e-tree-view-child-item text="A.F.C Emley"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Bedford"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Farsley"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Rangers"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
            </e-tree-view-items>
        </ej-tree-view>
    </div>
}
