@section SampleHeading{<span class="sampleName">TreeView / ContextMenu </span>}
@section ControlsSection{
    <div style="width: 250px">

        <ej-tree-view id="treeView">
            <e-tree-view-items>
                <e-tree-view-item text="ASP.NET MVC Team" expanded="true">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="Smith"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Johnson"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Anderson"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
                <e-tree-view-item text="Windows Team">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="Clark"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Wright"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Lopez"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
                <e-tree-view-item text="Web Team">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="Joshua"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Matthew"></e-tree-view-child-item>
                        <e-tree-view-child-item text="David"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
                <e-tree-view-item text="Build Team">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="Ryan"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Justin"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Robert"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
                <e-tree-view-item text="WPF Team">
                    <e-tree-view-child-items>
                        <e-tree-view-child-item text="Brown"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Johnson"></e-tree-view-child-item>
                        <e-tree-view-child-item text="Miller"></e-tree-view-child-item>
                    </e-tree-view-child-items>
                </e-tree-view-item>
            </e-tree-view-items>
        </ej-tree-view>
        
    </div>
    <div>

        <ej-menu id="treeviewMenu" menu-type="@MenuType.ContextMenu" show-sub-level-arrows="true" context-menu-target="#treeView" click="menuclick" before-open="beforeOpen">
            <e-menu-items>
                <e-menu-item text="Add New Item"></e-menu-item>
                <e-menu-item text="Remove Item"></e-menu-item>
                <e-menu-item text="Disable Item"></e-menu-item>
                <e-menu-item text="Enable Item"></e-menu-item>
            </e-menu-items>
        </ej-menu>
       
    </div>
}
@section ScriptSection{
    <script type="text/javascript">
        var tabIndex = 1, treeviewObj, contextMenuObj, childMenu, selectedNode;
        function beforeOpen(args) {
            var treeviewObj = $("#treeView").data("ejTreeView");
            contextMenuObj = $("#treeviewMenu").data("ejMenu");
            childMenu = contextMenuObj.element.children();
            if ($(args.target).hasClass('e-node-hover')) {
                $(childMenu).removeClass('e-disable-item');
                $(childMenu[3]).addClass('e-disable-item');
            }
            else if ($(args.target).hasClass('e-node-disable')) {
                $(childMenu).addClass('e-disable-item');
                $(childMenu[3]).removeClass('e-disable-item');
            }
            if (!$(args.target).hasClass("e-text"))
                args.cancel = true;
            else {
                selectedNode = $(args.target).closest('.e-item');
                if (!$(args.target).hasClass('e-node-disable'))
                    treeviewObj.selectNode(selectedNode);
            }
        }
        function menuclick(args) {
            var treeviewObj = $("#treeView").data("ejTreeView");
            if (args.events.text == "Add New Item") {
                treeviewObj.addNode("Item" + tabIndex, selectedNode);
                tabIndex++;
            }
            else if (args.events.text == "Remove Item") {
                treeviewObj.removeNode(selectedNode);
            }
            else if (args.events.text == "Disable Item") {
                treeviewObj.disableNode(selectedNode)
            }
            else if (args.events.text == "Enable Item") {
                treeviewObj.enableNode(selectedNode)
            }
        }
    </script>
}