@section SampleHeading{<span class="sampleName">TreeView / Rtl </span>}
@section ControlsSection{
    <div style="width: 250px">

          <ej-tree-view id="tree" enable-rtl="true" width="250px">
                <e-tree-view-items>
                    <e-tree-view-item text="كتب" >
                        <e-tree-view-child-items>
                            <e-tree-view-child-item text="الإصدارات الجديدة"></e-tree-view-child-item>
                            <e-tree-view-child-item text="جديد إصدارات الكتب السمعية"></e-tree-view-child-item>
                            <e-tree-view-child-item text="أكثر الكتب مبيعا"></e-tree-view-child-item>
                            <e-tree-view-child-item text="قادمة"></e-tree-view-child-item>
                            <e-tree-view-child-item text="أكثر الكتب مبيعا"></e-tree-view-child-item>
                        </e-tree-view-child-items>
                    </e-tree-view-item>
                    <e-tree-view-item text="الألعاب">
                        <e-tree-view-child-items>
                            <e-tree-view-child-item text="اكس بوكس"></e-tree-view-child-item>
                            <e-tree-view-child-item text="اكس بوكسلوحات"></e-tree-view-child-item>
                        </e-tree-view-child-items>
                    </e-tree-view-item>
                    <e-tree-view-item text="متنقل">
                        <e-tree-view-child-items>
                            <e-tree-view-child-item text="القادمون الجدد"></e-tree-view-child-item>
                            <e-tree-view-child-item text="منخفض السعر"></e-tree-view-child-item>
                            <e-tree-view-child-item text="القادمون الجدد"></e-tree-view-child-item>
                            <e-tree-view-child-item text="أقراص"></e-tree-view-child-item>
                        </e-tree-view-child-items>
                    </e-tree-view-item>
                </e-tree-view-items>
            </ej-tree-view>
        


    </div>
}