@section SampleHeading{
    <span class="sampleName">ComboBox / Data Bining - Local Data</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-combo-box id="selectState" datasource="(IEnumerable<States>)ViewBag.datasource" placeholder="Select a state">
                <e-combo-box-fields text="countryName" value="index"/>
            </ej-combo-box>
        </div>
    </div>
}
