@section SampleHeading{
    <span class="sampleName">ComboBox / Icons</span>}
@section ControlsSection{
    <div class="frame">
        <div class="control">
            <ej-combo-box id="selectmailtools" datasource="(IEnumerable<IconCss>)ViewBag.datasource" placeholder="Select a icon" width="100%">
                <e-combo-box-fields text="Name" icon-css="IconClass" />
            </ej-combo-box>
        </div>
    </div>
}
@section StyleSection{
    <link href="@Url.Content("~/css/samples/drpdwnicon.css")" rel="stylesheet" />
}
