@using Syncfusion.JavaScript;
@section SampleHeading{<span class="sampleName">PivotGrid / User Interaction</span> }
@section ControlsSection{
<div class="control">
    <ej-pivot-grid id="PivotGrid1" enable-grouping-bar="true" is-responsive="true" load="onload" pivot-table-field-list-id="PivotSchemaDesigner1">
        <e-data-source>
            <e-pivot-rows>
                <e-row-field field-name="Country" field-caption="Country">
                </e-row-field>
            </e-pivot-rows>
            <e-pivot-columns>
                <e-column-field field-name="Date" field-caption="Date"></e-column-field>
            </e-pivot-columns>
            <e-pivot-values>
                <e-value-field field-name="Amount" field-caption="Amount" format="currency"></e-value-field>
            </e-pivot-values>
        </e-data-source>
    </ej-pivot-grid>
    <ej-pivot-schema-designer id="PivotSchemaDesigner1"></ej-pivot-schema-designer>
</div>
}
@section ScriptSection{
    <script type="text/javascript">
        var pivot_dataset = [
                                        { Amount: 100, Country: "Canada", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Alberta" },
                                        { Amount: 200, Country: "Canada", Date: "FY 2006", Product: "Van", Quantity: 3, State: "British Columbia" },
                                        { Amount: 300, Country: "Canada", Date: "FY 2007", Product: "Car", Quantity: 4, State: "Brunswick" },
                                        { Amount: 150, Country: "Canada", Date: "FY 2008", Product: "Bike", Quantity: 3, State: "Manitoba" },
                                        { Amount: 200, Country: "Canada", Date: "FY 2006", Product: "Car", Quantity: 4, State: "Ontario" },
                                        { Amount: 100, Country: "Canada", Date: "FY 2007", Product: "Van", Quantity: 1, State: "Quebec" },
                                        { Amount: 200, Country: "France", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Charente-Maritime" },
                                        { Amount: 250, Country: "France", Date: "FY 2006", Product: "Van", Quantity: 4, State: "Essonne" },
                                        { Amount: 300, Country: "France", Date: "FY 2007", Product: "Car", Quantity: 3, State: "Garonne (Haute)" },
                                        { Amount: 150, Country: "France", Date: "FY 2008", Product: "Van", Quantity: 2, State: "Gers" },
                                        { Amount: 200, Country: "Germany", Date: "FY 2006", Product: "Van", Quantity: 3, State: "Bayern" },
                                        { Amount: 250, Country: "Germany", Date: "FY 2007", Product: "Car", Quantity: 3, State: "Brandenburg" },
                                        { Amount: 150, Country: "Germany", Date: "FY 2008", Product: "Car", Quantity: 4, State: "Hamburg" },
                                        { Amount: 200, Country: "Germany", Date: "FY 2008", Product: "Bike", Quantity: 4, State: "Hessen" },
                                        { Amount: 150, Country: "Germany", Date: "FY 2007", Product: "Van", Quantity: 3, State: "Nordrhein-Westfalen" },
                                        { Amount: 100, Country: "Germany", Date: "FY 2005", Product: "Bike", Quantity: 2, State: "Saarland" },
                                        { Amount: 150, Country: "United Kingdom", Date: "FY 2008", Product: "Bike", Quantity: 5, State: "England" },
                                        { Amount: 250, Country: "United States", Date: "FY 2007", Product: "Car", Quantity: 4, State: "Alabama" },
                                        { Amount: 200, Country: "United States", Date: "FY 2005", Product: "Van", Quantity: 4, State: "California" },
                                        { Amount: 100, Country: "United States", Date: "FY 2006", Product: "Bike", Quantity: 2, State: "Colorado" },
                                        { Amount: 150, Country: "United States", Date: "FY 2008", Product: "Car", Quantity: 3, State: "New Mexico" },
                                        { Amount: 200, Country: "United States", Date: "FY 2005", Product: "Bike", Quantity: 4, State: "New York" },
                                        { Amount: 250, Country: "United States", Date: "FY 2008", Product: "Car", Quantity: 3, State: "North Carolina" },
                                        { Amount: 300, Country: "United States", Date: "FY 2007", Product: "Van", Quantity: 4, State: "South Carolina" }
        ];
            function onload(args) {
                args.model.dataSource.data = pivot_dataset;
            }
            var pivotGrid, relationalRadioBtn, olapRadioBtn;
            $(function () {
                $("#sampleProperties").ejPropertiesPanel();
            });
            function renderGrid(args) {
                pivotGrid = $("#PivotGrid1").data("ejPivotGrid");
                relationalRadioBtn = $('#rdbRelational').data("ejRadioButton"); olapRadioBtn = $('#rdbOlap').data("ejRadioButton");
                var pivotdataSource = {
                    data: pivot_dataset, cube: "",
                    rows: [{ fieldName: "Country", fieldCaption: "Country" }, { fieldName: "State", fieldCaption: "State" }],
                    columns: [{ fieldName: "Product", fieldCaption: "Product" }],
                    values: [{ fieldName: "Amount", fieldCaption: "Amount", format: "currency" }, { fieldName: "Quantity", fieldCaption: "Quantity" }],
                    filters: []
                };
                var olapDataSource = {
                    data: "//bi.syncfusion.com/olap/msmdpump.dll", catalog: "Adventure Works DW 2008 SE", cube: "Adventure Works",
                    rows: [{ fieldName: "[Date].[Fiscal]" }],
                    columns: [{ fieldName: "[Customer].[Customer Geography]" }],
                    values: [{ measures: [{ fieldName: "[Measures].[Internet Sales Amount]" }], axis: "columns" }],
                    filters: []
                };
                $(".e-pivotgrid").remove();
                $(".e-pivotschemadesigner").remove();
                var gridPanel = ej.buildTag("div#PivotGrid1", "")[0].outerHTML;
                var gridSchemaPanel = ej.buildTag("div#PivotSchemaDesigner1", "")[0].outerHTML;
                $(gridPanel).appendTo(".control");
                $(gridSchemaPanel).appendTo(".control");
                $("#PivotGrid1").ejPivotGrid({
                    dataSource: relationalRadioBtn.model.checked ? pivotdataSource : olapRadioBtn.model.checked ? olapDataSource : pivotdataSource, pivotTableFieldListID: "PivotSchemaDesigner1", isResponsive: true,
                    enableGroupingBar: true,
                });
                if (olapRadioBtn.model.checked)
                    $("#PivotSchemaDesigner1").ejPivotSchemaDesigner({ olap: { showKPI: false, showNamedSets: true } });
                else
                    $("#PivotSchemaDesigner1").ejPivotSchemaDesigner();
            }
</script>
    </script>
}
@section StyleSection{
    <style>
            .e-pivotgrid {
                width: 55%;
                height: 630px;
                display: inline-block;
                float: left;
                overflow: auto;
            }

            .e-pivotschemadesigner {
                width: 40% !important;
                display: inline-block;
                margin-left: 10px;
            }

            .cols-prop-area {
                margin-top: 30px;
                width: 35%;
                height: 120px;
                min-height: 50px;
                float: left;
            }

            .radioBtnLabel {
                margin-left: 5px;
            }


        .cols-prop-area {
            width: 416px !important;
            min-height: 93px !important;
        }

        .col-md-3 {
            height: 30px !important;
        }
        .cols-sample-area {
            width: 100% !important;
        }

    </style>
}
@section PropertiesSection{
<div id="sampleProperties">
    <div class="prop-grid">
        <div class="row">
            <div class="col-md-3" style="width:120px">
                Data Source
            </div>
            <div class="col-md-3" style="width:120px">
                <ej-radio-button id="rdbRelational" name="datasource" size="@RadioButtonSize.Small" checked="true" enabled="true" text="Relational" value="Relational" change="renderGrid" />
            </div>
            <div class="col-md-3" style="width:120px">
                <ej-radio-button id="rdbOlap" name="datasource" size="@RadioButtonSize.Small" checked="false" enabled="true" text="OLAP" value="OLAP" change="renderGrid" />
            </div>
        </div>
    </div>
</div>
}
